<app-page-header [contentID]="content" page="home" [cnt]="store.cnt" isHome="false" (change)="store.headerAction($event)"></app-page-header>
<ion-content #content id="page" [scrollEvents]="true">
    <div class="page_wapper" *ngIf="fundingProfileData != undefined">
        <div id="all_ui">
            <div id="top_card">
                <ion-grid class="container">
                    <refresher (change)="callPullRefresh($event)"></refresher>
                    <bread-crump showHome="1" [pageType]="type" [pageLbl]="fundingProfileData.ProfileName">
                    </bread-crump>
                    <ion-row class="main_rows mt-res">
                        <ion-col class="main_cols auto-cols admin_right_panel">
                            <item-card [prod]="fundingProfileData" [isAddForm]="false" [isMain]="false" [extraMenu]="false" [subtype]="type" [ProfileSlug]="fundingProfileData.ProfileSlug" apiAction="funding_profile" [type]="type" [from]="'admin'" pageFrom="Top" (change)="clikCount($event)"></item-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
    <div id="serch_component" *ngIf="fundingProfileData != undefined && pageType !='profile-form'">
        <app-search-bar [isShow]="false" fromPage="home" [pageType]="pageType" [keyword]="keyword" (change)="callEnablerFilter($event)"></app-search-bar>
    </div>
    <div id="tabblings" *ngIf="fundingProfileData != undefined ">
        <ion-grid class="container">
            <ion-row>
                <ion-col style="padding: 0px">
                    <app-tabs [segments]="segments" customClass="admin_details" [selectedSegment]="pageType" from='details' (change)="onClickSegment($event)"> </app-tabs>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div id="tabs_contents" *ngIf="fundingProfileData != undefined ">
        <ion-grid class="container">
            <funding-profile-details-view *ngIf="pageType =='profile-form'" [fundingProfileData]="fundingProfileData" [ImpactThemesAndAreas]="ImpactThemesAndAreas" [Esg]="Esg" [FundingType]="FundingType" [Sdgs]="Sdgs"></funding-profile-details-view>
            <ion-row class="counts_filter_block" *ngIf="pageType !='profile-form' && pageType !='settings'">
                <ion-col class="left_filter_panel">
                    <div class="counts_searchbox">
                        <div class="count_boxs navigation_compo">
                            <app-count [pageType]="pageType" [allTotal]="allTotal"></app-count>
                        </div>
                        <div class="downloads navigation_compo" *ngIf="(store.checkPermissionObj(permissionsList,'download_page_user') || store.checkPermissionObj(permissionsList,'download_all')) && allTotal>0">
                            <i class="fas fa-download pointer" (click)="download($event)"></i>
                        </div>
                    </div>
                </ion-col>
                <ion-col class="right_filter_panel" *ngIf="pageType != 'permissions'">
                    <div class="filter_nav">
                        <filter-count [filteCnt]="filteCnt" [pageType]="pageType" [pageFrom]="'admin'" (change)="openFilter($event)"></filter-count>
                        <div class="drop_box">
                            <drop-down from="sort" [itemList]="store.sortItemList" [preSlected]="sort" [slected]="sort" [isSort]="true" (change)="selectSort($event)"></drop-down>
                        </div>
                    </div>
                </ion-col>
                <ion-col class="right_filter_panel" *ngIf="pageType == 'permissions'">
                    <div class="filter_nav permission">
                        <div class="add_buttons transfer" (click)="onAction('0')" *ngIf="store.checkPermissionObj(permissionsList,'transfer_ownership')">
                            <ion-label style="cursor: pointer;">{{this.store.getVal('transfer_ownership')}}</ion-label>
                        </div>
                        <div class="add_buttons" (click)="onAction('1')" *ngIf="store.checkPermissionObj(permissionsList,'add_page_user')">
                            <i class="fa-solid fa-circle-plus"></i>
                            <ion-label style="cursor: pointer;">{{this.store.getVal('add')}}</ion-label>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="pageType !='profile-form'">
                <ion-col size="12" style="padding: 0px;">
                    <ion-label *ngIf="allTotal>0" class="note-padding filterCriteriaNote">{{store.getVal('result_filter_criteria_note')}}</ion-label>
                    <enabler-items apiEnd="funding_profile/valid_enabler_admin" *ngIf="pageType == 'enablers'" [pageType]="pageType" [type]="type" from="admin" [apiAction]="pageType" openFront="1" [sort]="'recent'" pageFrom="details" [ProfileSlug]="fundingProfileData.ProfileSlug" [FundingProfileUID]="fundingProfileData.FundingProfileUID" [updateTime]="updateTime"  (change)="updateCount($event)"></enabler-items>
                    <enabler-items apiEnd="funding_profile/valid_enabler_view_admin" *ngIf="pageType == 'enabler-view'" [pageType]="pageType" [type]="type" from="admin" [apiAction]="pageType" openFront="1" [sort]="'recent'" pageFrom="details" [ProfileSlug]="fundingProfileData.ProfileSlug" [FundingProfileUID]="fundingProfileData.FundingProfileUID" [updateTime]="updateTime"  (change)="updateCount($event)"></enabler-items>
                    <fundraise-items *ngIf="pageType == 'fundraise-view'" [pageType]="pageType" [type]="type" [apiAction]="pageType" from="admin" openFront="1" pageFrom="details"  [ProfileSlug]="fundingProfileData.ProfileSlug" [FundingProfileUID]="fundingProfileData.FundingProfileUID" [updateTime]="updateTime" (change)="updateCount($event)"></fundraise-items>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<app-page-footer [contentID]="content"(change)="store.headerAction($event)"></app-page-footer>