<web-page-header *ngIf="store.appType =='front'"></web-page-header>
<app-page-header *ngIf="store.appType =='admin'" [contentID]="content" page="home" [cnt]="store.cnt" isHome="false" (change)="store.headerActionAdmin($event)"></app-page-header>
<ion-content #content id="page" [scrollEvents]="true">
    <div [class]="'full '+store.appType">
        <div class="page_wapper">
            <div id="all_ui">
                <ion-grid class="container">
                    <ion-row class="forms_row">
                        <ion-col class="right_panel" id="other_auth_forms">
                            <div class="forms_conponenl" id="authforms">
                                <form>
                                    <ion-grid id="myprofile" class="forms_block">
                                        <ion-row class="forms_headers">
                                            <ion-col size="12">
                                                <ion-label class="heading"><span class="icons"><i class="fa fa-info-circle"></i></span>{{store.getVal('enter_your_email_to_receive_confirmation_link')}}</ion-label>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="forms_body">
                                            <error-message isNameUn="true" styleD="left" [dataAction]="dataAction" [message]="loadMsg"></error-message>
                                            <ion-col size="12">
                                                <div class="form-group">
                                                    <ion-label [class]="(email =='' || !this.store.regEmail.test(email) )&& emailErr !=''?'labels errorMsg':'labels'"> {{store.getVal('email')}} *</ion-label>
                                                    <input spellcheck="false" autocomplete="off" class="form-control" minlength="5" maxlength="300" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required (keyup.enter)="callAction('1')"/>
                                                </div>
                                                <bottom-btn styleD="center" [leftKey]="'submit'" [leftBtn]="store.getVal('submit')" (change)="callAction($event)"></bottom-btn>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </form>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
</ion-content>
<app-page-footer *ngIf="store.appType =='admin' || store.isLogin" [contentID]="content"(change)="store.headerAction($event)"></app-page-footer>