<app-page-header [contentID]="content" page="home" [cnt]="store.cnt" isHome="true" (change)="store.headerAction($event)"></app-page-header>
<ion-content #content [scrollEvents]="true">
    <div class="page_wapper">
        <div id="all_ui">
            <ion-grid class="container">
                <ion-row>
                    <ion-col>
                        <bread-crump showHome="1" [pageType]="'reference-data'" [pageLbl]="title"></bread-crump>
                    </ion-col>
                    <ion-col class="btn-col">
                        <a class="menuicons pointer" (click)="addToList()">
                            <i class="fa-solid fa-circle-plus" style="color: var(--ion-color-black)"></i>
                        </a>
                    </ion-col>
                </ion-row>
                <ion-row class="forms_row">
                    <ion-col class="forms_conponenl">
                        <div id="myprofile" class="forms_block">
                            <ion-grid>
                                <ion-row id="web-ui">
                                    <ion-col>
                                        <ion-label [class]="'labels'">
                                            {{this.store.getVal('language')}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label [class]="'labels'">
                                            {{this.store.getVal('reference_type')}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label [class]="'labels'">
                                            {{this.store.getVal('parent_reference_name')}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label [class]="'labels'">
                                            {{this.store.getVal('reference_name')}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label [class]="'labels'">
                                            {{this.store.getVal('original_value')}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label [class]="'labels'">
                                            {{this.store.getVal('display_order')}}
                                        </ion-label>
                                    </ion-col>
                                  
                                    <ion-col></ion-col>
                                </ion-row>

                                <ion-row *ngFor="let item of NewReferenceDataList; let i = index">
                                    <ion-col>
                                        <div class="form-group" style="margin-bottom: initial;">
                                        <custom-select  selectTitle="" modalName="LanguageID" [modal]="item.LanguageID" listName="LanguageList" [list]="LanguageList" bindLabel="LanguageName" bindValue="LanguageID" [isError]="item.IsLanguageUn" placeholder="language" [multiple]="false" (change)=customSelect($event,item.LanguageID,i,true) ></custom-select>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div class="form-group">
                                        <custom-select selectTitle="" modalName="ReferenceType" [modal]="item.ReferenceType" listName="ReferenceTypeList" [list]="ReferenceTypeList" bindLabel="ReferenceType" bindValue="ReferenceType" [isError]="item.IsReferenceTypeUn" placeholder="reference_type" [multiple]="false" (change)=customSelect($event,item.ReferenceType,i,true) ></custom-select>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div class="form-group">
                                        <custom-select  selectTitle="" modalName="ParentReferenceKey" [modal]="item.ParentReferenceKey" [list]="item.ParentTypeList" bindLabel="ReferenceName" bindValue="ReferenceKey" [isError]="false" [isValidate]="false" placeholder="reference_type" [multiple]="false" (change)=customSelect($event,item.ParentReferenceKey,i,false) ></custom-select>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div class="form-group">
                                            <ion-label>{{this.store.getVal('reference_name')}}</ion-label>
                                            <input spellcheck="false" autocomplete="off" type="text" [class]="item.IsReferenceNameUn?'red-border form-control':'form-control'" minlength="1" maxlength="200" [(ngModel)]="item.ReferenceName"[placeholder]="store.getVal('reference_name')+' *'"/>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div class="form-group">
                                            <ion-label>{{this.store.getVal('original_value')}}</ion-label>
                                            <input spellcheck="false" autocomplete="off" type="text" class="form-control" minlength="1" maxlength="200" [(ngModel)]="item.OriginalValue" [placeholder]="this.store.getVal('original_value')"/>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div class="form-group">
                                            <ion-label>{{this.store.getVal('display_order')}}</ion-label>
                                            <input spellcheck="false" autocomplete="off" type="number" [class]="item.IsDisplayOrderUn?'red-border form-control':'form-control'" min="0" minlength="1" maxlength="200" [(ngModel)]="item.DisplayOrder"/>
                                        </div>
                                    </ion-col>
                                    
                                    <ion-col>
                                        <div>
                                            <a class="menuicons pointer" (click)="removeReferenceData(item,i)">
                                                <i class="fa fa-minus-circle"></i>
                                            </a>
                                        </div>
                                    </ion-col>

                                </ion-row>
                            </ion-grid>
                            <div style="padding: 15px 0px;">
                                <error-message id="errorPage" [isNameUn]="'false'" [fromClass]="'m-0-5'" styleD="left" [dataAction]="[]" [message]="loadMsg"></error-message>
                                <bottom-btn *ngIf="NewReferenceDataList.length!=0" styleD="center" [leftKey]="'submit'" [rightKey]="'cancel'" [leftBtn]="store.getVal('submit')" screen="1" [rightBtn]="store.getVal('cancel')" (change)="callAction($event)" isShow="1"></bottom-btn>
                            </div>
                        </div>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
<app-page-footer [contentID]="content"(change)="store.headerAction($event)"></app-page-footer>