.filter_count_list {
    display: flex;
    align-items: center;
    margin: 0px -8px;
}

.filter_count_list ion-label {
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 8px 0px 0px;
    white-space: nowrap;
}

.filter_count_list ion-label .contents {
    display: block;
    font-size: 15px;
}

.filter_count_list ion-label .icons {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: var(--ion-color-white);
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    background-color: var(--ion-color-logo-red);
    margin-right: 7px;
}

.filter_count_list ion-label .icon {
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    font-size: 13px;
    color: var(--ion-color-black);
    font-weight: 400;
    border: 1px solid var(--ion-color-black);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    flex: 0 0 30px;
}

.filter_count_list ion-label .contents a {
    color: var(--ion-color-light-trolley-gray);
    letter-spacing: 0.3px;
    text-decoration: none;
}