<web-page-header></web-page-header>
<ion-content #content id="page" [scrollEvents]="true" (ionScroll)="function($event)">
    <seo-hidden-tag [head]="store.getVal('website_key_35')" [description]="store.getVal('website_key_35')"></seo-hidden-tag>
    <div class="header-img">
        <section>
            <div class="container-fluid extra-backgrnd">
                <div class="container container-lg">
                    <div id="banner-owl-carousel" class="slider owl-carousel owl-theme my-0">
                        <div class="item">
                            <div class="row justify-content-between">
                                <div class="col-lg-12 col-md-12 col-sm-12 my-auto" >
                                    <div class="inline-sm extra p-5 " style="text-align: center;">
                                        <div class="slider-text" data-aos="fade-up" style="margin-bottom: 3rem!important;">
                                            <h1 class="slider-title fadeInUp">{{store.getVal('website_key_1')}}</h1>                                    
                                            <p class="slider-des fadeInUp">{{store.getVal('website_key_2')}}</p>
                                        </div>
                                        <div class="btn-view-top fadeInUp extra-m-pading">
                                            <a *ngIf="store.getVal('website_key_3') != undefined && store.getVal('website_key_3') != ''" class="btn btn-lg btn-round btn-primary htwork clickEv" style="margin-right: 15px;" href="/how-it-works" (click)="openPage('/how-it-works')">{{store.getVal('website_key_3')}}</a>
                                            <a *ngIf="store.getVal('website_key_4') != undefined && store.getVal('website_key_4') != ''" class="btn btn-lg btn-round btn-outline demo clickEv" href="/contact" (click)="openPage('/contact')">{{store.getVal('website_key_4')}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="section section-white overflow-hidden" style="padding-top:0px;">
        <div class="section section-gray extra-top-padding">
            <div class="container container-md">
                <div class="columns">
                    <div class="column stack-lg">
                        <p class="text-body-xl-grow text-center text-black tg-line" style="font-weight: normal !important;">{{store.getVal('website_key_5')}}</p>  
                    </div>
                </div>
            </div>
        </div>
        <section class="shopfinder" style="padding-bottom: 40px;">
            <div class="container-fluid">
                <div class="container container-lg">
                    <div class="row margin">
                        <div class="home-block extra-top">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-4 col-md-4 col-12 p-3 bg-dark-black">
                                    <div class="mission-box my-4" data-aos="zoom-in" style="padding-bottom: 25px;">
                                        
                                        <h3 class="my-5"><div class="icon-container"><i class="fa-solid fa-vector-square" aria-hidden="true"></i></div>{{store.getVal('website_key_6')}}</h3>
                                        <p class="my-5">{{store.getVal('website_key_7')}}</p>
                                        <a class="button btn-primary my-5" [href]="adminPath" target="_blank">{{store.getVal('website_key_12')}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12 p-3 bg-med-black">
                                    <div class="mission-box my-4" data-aos="zoom-in" style="padding-bottom: 25px;">
                                        
                                        <h3 class="my-5"><div class="icon-container"><i class="fa-money-bill-transfer fa-solid"></i></div>{{store.getVal('website_key_8')}}</h3>
                                        <p class="my-5">{{store.getVal('website_key_9')}}</p>
                                        <a class="button btn-primary my-5 clickEv" href="/explore/enablers" (click)="openPage('/explore/enablers')">{{store.getVal('website_key_13')}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12 p-3 bg-light-black">
                                    <div class="mission-box my-4" data-aos="zoom-in" style="padding-bottom: 25px;">
                                        
                                        <h3 class="my-5"><div class="icon-container"><i class="fa-rocket fa-solid"></i></div>{{store.getVal('website_key_10')}}</h3>
                                        <p class="my-5">{{store.getVal('website_key_11')}}</p>
                                        <a class="button btn-primary my-5 clickEv" href="/explore/enablers" (click)="openPage('/explore/enablers')">{{store.getVal('website_key_13')}}
                                        </a>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>      
        <section class="padding-bottom b2bmarket" id="three">
            <div class="container-fluid methodology-areasection">
                <div class="container container-lg">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading text-center" data-aos="fade-down">
                                <h2>{{store.getVal('website_key_15')}}</h2>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-12 col-sm-12 margin-top" style="padding-right: 15px;
                        padding-left: 15px;">
                            <div class="methodology-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <div class="home-block-i-circle">
                                    <img src="../../assets/images/y-funder-1.png" class="img-fluid" height="70" width="70" />
                                </div>
                                <hr class="mt-4" />
                                <p class="b2b-desc">{{store.getVal('website_key_16')}}</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12 col-sm-12 margin-top"style="padding-right: 15px;
                        padding-left: 15px;">
                            <div class="methodology-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <div class="home-block-i-circle">
                                    <img src="../../assets/images/y-funder-2.png" class="img-fluid" height="70" width="70" />
                                </div>
                                <hr class="mt-4" />
                                <p class="b2b-desc">{{store.getVal('website_key_17')}}</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12 col-sm-12 margin-top"style="padding-right: 15px;
                        padding-left: 15px;">
                            <div class="methodology-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <div class="home-block-i-circle">
                                    <img src="../../assets/images/y-funder-3.png" class="img-fluid" height="70" width="70" />
                                </div>
                                <hr class="mt-4" />
                                <p class="b2b-desc">{{store.getVal('website_key_18')}}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 margin-top"style="padding-right: 15px;
                        padding-left: 15px;">
                            <div class="methodology-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <div class="home-block-i-circle">
                                    <img src="../../assets/images/y-funder-4.png" class="img-fluid" height="70" width="70" />
                                </div>
                                <hr class="mt-4" />
                                <p class="b2b-desc">{{store.getVal('website_key_19')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="stayinformed section-gray padding-bottom">
            <div class="container-fluid">
                <div class="container container-lg">
                      
                    <div class="row">
                        <div class="col-12 pt-md-5">
                            <div class="heading text-center" data-aos="fade-down">
                                <h2>{{store.getVal('website_key_14')}}</h2>
                                <ion-grid style="margin-top: 30px;">
                                    <ion-row style="justify-content: center;">
                                        <ion-col class="col-min-60">
                                            <div class="forms_box" id="hubspotForm">
                                                <script>
                                                    hbspt.forms.create({
                                                    region: "na1",
                                                    portalId: "8466010",
                                                    formId: "73ea0e90-5de0-4971-8dc9-2a1e1149cd04"
                                                    });
                                                    </script> 
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <web-page-footer></web-page-footer>
</ion-content>