.fixTableHead {
    overflow-y: scroll;
}



ion-grid,
ion-col,
ion-row {
    padding: 0px !important;
}

.top-div {
    display: flex;
    justify-content: space-between;
}

.downloads {
    padding: 5px 10px;
}

.datachips_block {
	padding: 0px !important;
}



.top-div.top_cards_boxs .titles_names {
	display: flex !important;
	align-items: center;
}

.titles_names .downloads.navigation_compo {
	padding: 0px 0px 0px 10px !important;
}
.tabs_nave_filters {
	display: flex !important;
	align-items: center;
	margin: 0px -10px;
}
.tabs_nave_filters .filters_btns {
	padding: 0 10px;
}

@media (max-width: 830px) {
    td#app-ui {
        border-radius: 0px;
    }
    .top-div {
        display: block;
        margin-top: 10px; 
    }
    .fixTableHead table tr {
        display: block;
        box-shadow: 0 0 4px rgba(32, 33, 36, 0.28);
        margin: 10px 2px;
        padding: 0px;
        border-radius: 10px;
    }
}

@media (max-width: 640px)
{
    .datachips_block {
        padding: 0px !important;
    }
    .counts_filter_block ion-col.tab_contents.details-page {
        padding: 15px 0px !important;
    }
}

@media (max-width: 480px) {
    .mb-tbl table tr:nth-child(3) td:nth-child(2),
    .mb-tbl table tr:nth-child(3) td:nth-child(3) {
        word-break: break-all;
    }
}