.header {
    height: 97px;
    background: var(--ion-color-black);
    border-bottom: 1px solid var(--color-border-light)
}

.padding-bottom {
    padding-bottom: 35px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.heading h2 {
    padding-top: 16px;
    margin-bottom: 18px;
    font-size: 40px;
    font-family: 'Helvetica' !important;
    position: relative;
}
.methodology-box h3 {
    font-weight: 600;
    padding: 15px;
    font-size: 20px;
    margin: 0px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    /* height: auto; */
    height: 550px;
}
.methodology-areasection .heading h2::after{
    left: 47%;
    margin: 0px 0;
}
.heading h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #f00;
    left: 0;
    position: absolute;
    margin-top: 10px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    width:90px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}
.methodology-areasection .margin-top {
    margin-top: 30px !important;
}
.methodology-box {
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    height: 100%;
    border: 1px solid #E9E9EA;
    transition: all 0.5s;
    box-shadow: 1px 1px 24px -2px rgba(209, 209, 209, 0.5);
    -webkit-box-shadow: 1px 1px 24px -2px rgba(209, 209, 209, 0.5);
}
.methodology-box p{
    // color: var(--ion-color-dark-green);
    font-size: 16px !important;
    min-height: 220px;
}
.methodology-areasection .home-block-i-circle{
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #21252908;
    border-radius: 50%;
}

.section-white {
    background-color: var(--ion-color-white)!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 992px) {
    
    .header {
        height: 90px;
    }
}
@media  (max-width: 830px){

    .methodology-box h3 {
        font-size: 17px;
    }
    .heading h2 {
        font-size: 28px;
        margin-bottom: 24px;
    }
}
@media (max-width:768px) {
    .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
        /* height: auto; */
        height: 550px;
    }
    .methodology-areasection .heading h2:after {
        left: 40.5%;
    }
}

.overflow-hidden {
    overflow: hidden
}

.text-center {
    text-align: center !important
}
img {
    display: block;
    max-width: 100%
}
p {
    font-family: 'Helvetica',;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-wrap: pretty
}

p:before,
p:after {
    content: "";
    display: table
}

p:before {
    margin-bottom: calc(-.15em * 1.5)
}

p:after {
    margin-top: -.255em
}

a {
    text-decoration: none;
    color: var(--ion-color-blue)
}

a:focus {
    outline: none
}

a:focus,
a:hover {
    text-decoration: underline;
    text-underline-offset: .15em;
    text-decoration-thickness: .08em
}

.btn:focus {
    outline: none;
    text-decoration: none
}

.btn:hover {
    background-color: var(--color-background-gray-hover);
    text-decoration: none
}
.btn-outline {
    background-color: transparent
}

.btn-outline:hover {
    background-color: var(--color-dark-opacity-5)
}

.btn::-moz-focus-inner {
    border: 0
}

.btn-outline {
    border-color: var(--ion-color-logo-red)
}

hr {
    border: none;
    outline: none;
    box-shadow: none;
    height: 2px;
    background: var(--color-border-light)
}