
.white {
    color: var(--ion-color-white) !important;
}
#footer_menu {
    background: var(--ion-color-back);
    padding: 6px 0px 4px 0 !important;
    margin: 0px !important;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: none;
    min-height: 55px;
}

#footer_menu div {
    padding: 0px 10px;
    display: grid;
    text-align: center;
}
.select-menu{
    color: var(--ion-color-white);
    font-size: 20px;
}
#footer_menu div ion-img {
    width: 25px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
#footer_menu div ion-label {
    font-size: var(--ion-font-fourteen) !important;
    margin-top: 6px;
    cursor: pointer;
}

@media (max-width: 992px) 
{
    #footer_menu {display: flex; padding: 6px 10px !important;}
}

@media (max-width: 480px) 
{
    #footer_menu {padding: 6px 5px !important;}
}