.header {
    height: 97px;
    background: var(--ion-color-black);
    border-bottom: 1px solid var(--color-border-light)
}

.header-img {
    background-image: url('../../assets/images/header-back.jpeg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: .3s;
    max-height: 250px;
}
.extra-backgrnd{
    background: #000000a8;
    max-height: 250px;
}

.slider-title{
    font-size: 22px;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 0.7px;
}
.slider-des {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.7px;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}
.padding-bottom {
    padding-bottom: 70px;
}
.padding-top {
    padding-top: 70px;
}
.btn{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 2px solid transparent;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: .7px;
    font-weight: 500;
    color: var(--ion-color-white);
    background-color: var(--ion-color-logo-red);
    transition: background-color 70ms ease-in-out,border-color 70ms ease-in-out;
    border-radius: 4px;
    padding: 0 14px;
    height: 40px;
    line-height: 36px;
}
.btn-round {
    border-radius: 60px;
    padding: 0 20px;
}

ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}

ion-input {
    text-overflow: ellipsis !important;
}

.modal-wrapper {
    width: 70%;
    height: 70%;
    position: absolute;
    margin-top: 25%;
    left: 15%;
}

#map {
    height: 100%;
}

ion-label.hyperlink {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--ion-font-fourteen) !important;
    color: var(--ion-color-yelloShade2) !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.save-seach-lbl {
    text-align: right !important;
}

.map-box {
    background: white !important;
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 11111;
}

.tab-selected {
    border-bottom: 2px solid var(--ion-color-dark-green) !important;
    color: var(--ion-color-dark-green) !important;
    --color-selected: var(--ion-color-dark-green) !important;
}

ion-tab-button {
    background: transparent !important;
    color: grey !important;
    --color-selected: grey !important;
    border: none !important;
    border-radius: 0 !important;
    display: block;
    text-align: center;
    line-height: 25px !important;
    font-size: 14px !important;
    letter-spacing: .5px;
    font-weight: 700;
}

// .demo{   
//     background-color: var(--ion-color-white) !important;
//     border:1px solid var(--ion-color-logo-red) !important;
//     color: var(--ion-color-black) !important;
//     // font-size: 18px !important;
//     min-width: 150px !important;
//     line-height: 18px !important;
//     padding: 13px !important;
//     height: auto !important;
    
// }

a {
    text-decoration: none !important;
}

.tab-content {
    margin: 0 10px;
    padding: 30px 20px;
    background-color: var(--ion-color-white);
    color: black;
    // border-bottom-left-radius: .80rem !important;
    // border-bottom-right-radius: .80rem !important;
    border-radius: .80rem !important;
    text-align: center;
    border: 1px solid var(--ion-color-itemcard-border);
    box-shadow: 0 1px 3px #25201f4d;
}
.tab-content div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-content span{ 
    font-size: 18px;
    color: var(--ion-color-black);
}
.tab-content a{ 
    color: var(--ion-color-blue);
    font-size: 18px;
}

.tab-content .btn-outline {
    color: var(--ion-color-logo-red);
    border: 1px solid var(--ion-color-logo-red);
    background-color: #fff;
}


@media (max-width: 768px) {
    .left_filter_panel {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .right_filter_panel {
        margin-top: 10px !important;
    }
    .counts_filter_block {
        padding: 5px 0 0 0 !important;
    }
}