ion-infinite-scroll {
    background: transparent !important;
    padding   : 5px;
    margin    : 10px 15px
}

.w-80 {
    width: 80% !important;
}

.full_width .w-80 {
    width: 100% !important;
}