ion-col {
    padding: 0;
}

.buttons-div {
    display: flex;
}

.users_icons {
    font-size: 30px;
}

.users_icons a {
    color: var(--ion-color-black);
}

.count_list {
    display: flex;
    flex-wrap: wrap;
}

.filter_count_list {
    // display: flex;
    // align-items: center !important;
    // margin: 0px -8px !important;
    // flex-wrap: wrap;
}

.filter_count_list ion-label {
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 30px 15px 0px;
    white-space: nowrap;
    // margin-bottom: 15px !important;
}

.filter_count_list ion-label .contents {
    display: block;
    font-size: 15px;
}


.filter_count_list ion-label .icons {
    position: relative;
    display: inline-block;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    color: var(--ion-color-white);
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    background-color: var(--ion-color-logo-red);
    margin-right: 0px;
    visibility: hidden;
}

.filter_count_list ion-label .icon {
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    font-size: 13px;
    color: var(--ion-color-black);
    font-weight: 400;
    border: 1px solid var(--ion-color-black);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    flex: 0 0 30px;
}

.vagen_icons_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.lbl-img {
    margin: 0px !important;
    display: flex !important;
    max-width: 80px;
    overflow: hidden;
}

.counts_row {
    display: flex !important;
    justify-content: space-between !important;
    position: relative;
    flex-wrap: nowrap !important;
    width: 100%;
}
.counts_row.btns_row_list{
	margin-top: 12px;
	// margin-top: 25px;
}
.counts_row ion-col.fiter_names {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.counts_row ion-col.lbl_count_img {
    display: flex;
    max-width: 106px;
    justify-content: flex-end;
}

.vagen_icons_list ion-label {
    font-size: 15px;
    line-height: 15px;
    margin-left: 4px;
}
.btn-red {
    border-radius: 8px !important;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    height: unset;
    margin: 3px !important;
}

.btn-fundraise {
    --background: var(--ion-color-white);
    background-color: var(--ion-color-white);;
    color: var(--ion-color-blank) !important;
    white-space: nowrap;
    border: 0.5px solid var(--ion-color-logo-red) !important;
   // border-radius: 8px !important;
   --padding-start: 10px;
   --padding-end: 10px;
//    --padding-top: 5px;
//    --padding-bottom: 5px;
//     height: auto;

}


// .enabler-button-div {
//     // margin-top: 20px;
// }

.enabler-button-div a.btn-investor {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: var(--ion-color-logo-red) !important;
    border: 2px solid var(--ion-color-logo-red) !important;
    color: var(--ion-color-white) !important;
    gap: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    padding-right: 10px;
    border-radius: 64px;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.3px;
    // border-left-width: 1px !important;
}
.enabler-button-div a.btn-investor span {
    // margin-top: -2px;
    font-size: 16px !important;
    letter-spacing: 0.7px;
}
// .enabler-button-div a.btn-investor i {
//     margin: 0 0 -1px -1px;
// }

.enabler-button-div a.btn-investee {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: var(--ion-color-white) !important;
    border: 2px solid var(--ion-color-logo-red) !important;
    color: var(--ion-color-logo-red) !important;
    gap: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    
    padding-right: 10px;
    border-radius: 64px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.7px;
    border-left-width: 1px !important;
}

.enabler-button-div a.btn-investee i {
    margin: 0 0 -1px -1px;
}

.enabler-button-div a.button.btn-primary {
    // position: absolute;
    // transform: translate(-45%, 0%);
    text-align: center;
    vertical-align: middle;
    // bottom: -22px;
    white-space: nowrap;
    // box-shadow: 0px 5px 10px 0px rgba(211, 34, 42, 0.5);
    // -webkit-box-shadow: 0px 5px 10px 0px rgba(211, 34, 42, 0.5);
    background-color: var(--ion-color-logo-red) !important;
    border: 2px solid var(--ion-color-logo-red) !important;
    color: var(--ion-color-white) !important;
    gap: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.enabler-button-div .button {
    // padding: 10px 30px;
    padding-right: 10px;
    border-radius: 64px;
    text-align: center;
    font-size: 18px;
    transition: all 0.5s;
    letter-spacing: 0.7px;
}

.enabler-button-div a i {
    font-size: 30px;
}

.btn-funding-profile {
    --background: var(--ion-color-white);
    background: var(--ion-color-white);
    color: var(--ion-color-blank) !important;
    white-space: nowrap;
    border: 1px solid var(--ion-color-logo-red) !important;
    // border-radius: 8px !important;
    --padding-start: 10px;
    --padding-end: 10px;
    // --padding-top: 5px;
    // --padding-bottom: 5px;
    // height: auto;
    margin: 0px 20px 0px 0px !important;
}
.btn-funding-profile span, .btn-fundraise span {
    font-size: 16px !important;
}

.btn-red-border{
    border: 1px solid var(--ion-color-light-gray);
    text-decoration: none;
    color: var(--ion-color-back) !important;

    background-color: var(--ion-color-white);
    --background: var(--ion-color-white);
    white-space: nowrap;
    font-size: 15px !important;
    padding: 8px 20px;
    line-height: 16px !important;
    border-radius: 60px;
}
ion-label.web-d-none.labels {
    display: none !important;
}
ion-button span{
    // padding: 5px 10px;
    align-items: center;
    display: flex;
}
ion-button span i{
    margin-right: 10px;
    font-size: 25px;
}
.btn-funding-profile span i{    
    color: var(--ion-color-logo-red);
    // margin-right:5px;
    font-size: 24px;
}
.btn-fundraise span i{    
    color: var(--ion-color-logo-red);
    // color: var(--ion-color-black);
    // margin-right:5px;
    font-size: 24px;
}
.btn-padding {
    padding: 3px
}

i#web-ui {
    color: var(--ion-color-light-trolley-gray);
    letter-spacing: 0.3px;
    text-decoration: none;
}

// .data-point-round-i {
//     display: inline-flex;
//     border: 1px solid darkgray;
//     padding: 8px !important;
//     font-size: 20px !important;
//     border-radius: 30px;
//     text-decoration: none;
//     color: var(--ion-color-black) !important;
// }

// .data-point-round-i .count {
//     font-size: 16px !important;
// }

@media (max-width: 992px) {
    .counts_row {
        align-items: start !important;
        margin-top: 0px !important;
        padding: 0px 0px;
    }
    
    // ion-row.counts_row.true:first-child {
    //     padding-bottom: 0px;
    // }
    // ion-row.counts_row.true:last-child {
    //     padding-top: 0px;
    // }
    .counts_row.btns_row_list{
        margin-top: 0px;
    }
    // .counts_row:last-child {
    //     padding-top: 0px;
    // }
    .btn-funding-profile{
        margin: 0 10px 0 0 !important;
    }
    // .filter_count_list {
    //     margin: 0 8px !important;
    // }
    
}

@media (max-width: 830px) {
    
    .filter_count_list ion-label {
        padding: 0 20px 10px 0px;
    }
    .counts_row ion-col.lbl_count_img {
        padding: 8px 8px 8px 0px;
    }
    // .filter_count_list {
    //     margin: 0px !important;
    // }
}

@media (max-width: 768px) 
{
    
    // .counts_row {padding: 0 12px;}
    // .filter_count_list ion-label {padding: 0px !important; padding-top: 12px !important; padding-right: 8px !important;}
    
    // .counts_row.btns_row_list{
    //     margin-top: 10px !important;
    // }
}

@media (max-width: 640px) {
    .count_list {
        margin-top: 15px;
    }
    .min-col-33 {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        // justify-content: space-between;
    }
    .enabler-button-div {
        justify-content: space-between;
        display: flex;
    }
    .enabler-button-div a.btn-investor {
        margin-right: 0px;
    }
    // .filter_count_list ion-label {padding-right: 0px !important;}
    .counts_row ion-col.fiter_names {
        padding: 0px;
    }
    .counts_row ion-col.lbl_count_img {
        padding: 8px 8px 0 0px;
    }
    .counts_row {
        align-items: flex-start !important;
    }
    .count_list,.buttons-div {
        justify-content: space-between;
    }
    
}

@media (max-width: 480px) {
    .lbl-img {
        max-width: 56px;
        overflow: hidden;
    }
    .vagen_icons_list ion-label {
        font-size: 14px !important;
        line-height: 15px;
        margin-left: 2px;
        margin-top: 0;
        padding-left: 3px !important;
    }
    .counts_row ion-col.lbl_count_img {
        max-width: 87px;
        padding-top: 5px !important;
    }
}

@media (max-width: 360px) {
    ion-button.btn-red,ion-button.btn-funding-profile,ion-button.btn-fundraise {
        min-width: auto !important;
    }
}