.empt {
    text-align: left;
}

.mt {
    margin-top: 15px;
}

.empt .mt {
    margin-top: 0px;
}
.forms_block {
    padding: 0px;
}

span {
    font-size  : 14px !important;
    cursor     : auto;
}
