<app-page-header [contentID]="content" page="home" [cnt]="store.cnt" isHome="false" (change)="store.headerActionAdmin($event)"></app-page-header>
<ion-content #content [scrollEvents]="true">
    <div class="page_wapper">
        <div id="all_ui">
            <ion-grid class="container">
                <ion-row class="forms_row">
                    <ion-col class="right_panel" id="other_auth_forms">
                        <div class="forms_conponenl" id="authforms" *ngIf="!isError">
                            <form>
                                <ion-grid id="myprofile" class="forms_block">
                                    <div>
                                        <ion-row class="forms_headers">
                                            <ion-col size="12">
                                                <ion-label class="heading"><span class="icons"><i class="fa fa-info-circle"></i></span>{{store.getVal('reset_password_header')}}</ion-label>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="forms_body">
                                            <ion-col size="12">
                                                <div class="form-group">
                                                    <ion-label>{{store.getVal('email')}} *</ion-label>
                                                    <input spellcheck="false" autocomplete="off" type="email" class="form-control" minlength="5" maxlength="300" [(ngModel)]="email" disabled [ngModelOptions]="{standalone: true}" (keyup.enter)="callAction('1')"/>
                                                </div>
                                                <div class="form-group passfild">
                                                    <ion-label [class]="isPasswordUn ?'labels errorMsg':'labels'">{{store.getVal('new_password')}} *</ion-label>
                                                    <input spellcheck="false" spellcheck="false" autocomplete="off" class="form-control" [type]="passwordType" minlength="6" maxlength="20" clearOnEdit="false" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" (keyup.enter)="callAction('1')"/>
                                                    <ion-icon class="form-control" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                                                </div>
                                                <div class="form-group custom_chk">
                                                    <ion-checkbox slot="start" [(ngModel)]="isRemember" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                                    <ion-label>{{store.getVal('remember_me')}}</ion-label>
                                                </div>
                                                <bottom-btn styleD="center" [leftKey]="'log_in'" [leftBtn]="store.getVal('log_in')" (change)="callAction($event)"> </bottom-btn>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                </ion-grid>
                            </form>
                        </div>
                        <div class="form-group" *ngIf="isError" style="text-align: center; margin: 15px;">
                            <error-view [dataAction]="dataAction" [message]="loadMsg" [leftKey]="'go_to_dashboard'" [leftBtn]="store.getVal('go_to_dashboard')" [nav]="store.navicateUrl"></error-view>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
<app-page-footer [contentID]="content"(change)="store.headerAction($event)"></app-page-footer>