


.form-group.custom_chk ion-checkbox {
	display: inline-block !important;
	vertical-align: middle;
	margin-right: 8px;
    --background-checked: var(--ion-color-logo-red);
    --border-color-checked: var(--ion-color-logo-red);
}
.form-group.custom_chk ion-label {
	margin-bottom: 0;
}