
.elips{
    justify-content: end !important;
}
.elips span{
    padding: 4px 8px !important;
    border-radius: 5px; 
}
.col-6{
    flex: 0 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
}
.btm-padding{
    padding-bottom: 10px;
}
.font-12{
    font-size: 12px !important;
}
.w-type-title{
    padding-top: 10px;
    padding-bottom: 10px;
    // padding-bottom: 10px;
    // justify-content: space-between;
    display: flex;
    align-items: center;
    // text-align: center;
    // display: block;
}
.w-type-title.left{
   
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.three-line{
    -webkit-line-clamp: 2;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
}
.w-type-title.right{
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.w-cpname span{
    line-height: 22px;
    overflow: hidden;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fa-user-circle{
    margin-right: 5px;
    font-size: 14px;
}
.introduce-btn-view{
    // display: flex;
    padding: 0px 10px 10px 10px;
    justify-content:space-around;
    align-items: center;
}
.introduce-btn-view ion-radio-group{
    display: inline-flex;
    border: 1px solid var(--ion-color-txt-color);
    border-radius: 10px;
    background: transparent;
    --background: transparent;
}
.introduce-btn-view ion-radio-group ion-item{
    background: var(--ion-color-transparent);
    --background: var(--ion-color-transparent);
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-border-width: 0px;
    --min-height: auto;
    padding: 0px;
    padding-right:5px;
    position: relative;
    min-width: 40px;
    text-align: center;
    font-weight: 700;
    box-shadow: 1px 0px;
}
.introduce-btn-view ion-radio-group ion-item ion-label{
    min-height: 18px;
    // font-weight: normal;
}
.introduce-btn-view ion-radio-group ion-item ion-label i{
    margin-left: 5px;
}
.introduce-btn-view ion-radio-group ion-item:first-child{
    border-radius: 10px 0 0 10px;
}
.introduce-btn-view ion-radio-group ion-item:last-child{
    border-radius: 0px 10px 10px 0px;
}

.introduce-btn-view ion-radio-group ion-item:first-child.item-radio-checked {
    background-color: var(--ion-color-dark-green);
    --color: var(--ion-color-white);
    color: var(--ion-color-white);
    font-weight: 700;
}
.introduce-btn-view ion-radio-group ion-item:last-child.item-radio-checked {
    background-color: var(--ion-color-logo-red)!important;
    --color: var(--ion-color-white);
    color: var(--ion-color-white);
}
.vertical-view h3{
    display: inline-flex; 
    flex-wrap: wrap;
     align-items: center;
}
.vertical-view h3 ion-label{
    margin-right: 10px;
    color: var(--ion-color-black)!important
}
.vertical-view h3 ion-label span{
    font-weight: bold;
    // font-weight: normal;
    margin-right: 5px;
    color: var(--ion-color-black) !important;
    white-space: nowrap;
}
.impact-funding-link{
    text-decoration: none;
    font-size: 17px; 
    display: flex;
    align-items: center;
}
.impact-funding .tags1{
    position: absolute;
    left: -35px;
    // right: -60px;
    top: -35px;
    padding: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    background: var(--ion-color-dark-green);
    transform: rotate(-45deg);
    color: white;
}

.impact-funding .tags1 i {
    display: none;
}
.impact-funding .tags1 span {
    display: none;
    position: absolute;
    // display: block;
    margin-right: 0;
    height: auto;
    padding: 0px;
    font-size: 15px;
    color: var(--ion-color-white);
    bottom: 7px;
    left: 30px;
    line-height: 15px;
}
ion-chip.tags{
    background: var(--ion-color-light-gray) !important;
    margin-right: 10px;cursor: none;
    margin-top: 15px;
}
ion-col {
    padding: 0px;
}
ion-select{
    min-width: 130px;    
}

tr.gray-back {
    background: #80808063;
}

h3{
    padding: 0px;
    margin: 0px;
}
.cover-photo {
    border-radius: 10px 10px 0px 0px;
    max-height: 260px !important;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.inline-block {
    display: flex;
}

.inline-block i {
    margin-top: 1px;
}

.btn_view {
    display: flex;
    justify-content: space-between;
}
ion-label.plan{
    --background: var(--ion-color-black);
    background: var(--ion-color-black);
    color: var(--ion-color-white)!important;
    white-space: nowrap;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    text-decoration: auto;
    width: 100%;
    text-align: center;
}
ion-label.select_plan{
    --background: var(--ion-color-logo-red);
    background: var(--ion-color-logo-red);
    color: var(--ion-color-white)!important;
    white-space: nowrap;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: auto;
    width: 50%;
    min-width: 80px;
    text-align: center;
}
ion-label.select_plan.cancel{
    --background:transparent !important;
    background:transparent !important;
    color: var(--ion-color-logo-red)!important;
    border: 1px solid var(--ion-color-logo-red)!important;
}
.alert-title {
    display: grid;
    font-size: 16px;
    line-height: 28px;
}

.alert-title span {
    // display: grid;
    font-size: 15px;
}

.buybtn {
    display: flex;
    align-items: end;
    text-align: right;
    margin-right: 10px;
}

.buybtn a {
    color: var(--ion-color-logo-red) !important;
    // color: var(--ion-color-black);
    text-decoration: underline;
    font-size: 13px;
    padding: 0;
    display: block;
    line-height: 17px;
}
.match-per{
    min-width: 80px;
    text-align: center;
    --background: var(--ion-color-black);
    background: var(--ion-color-black);
    color: var(--ion-color-white)!important;
    white-space: nowrap;
    font-weight: normal !important; 
    height: auto;
    padding: 6px;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
    -webkit-text-decoration: auto;
    text-decoration: auto;
    letter-spacing: 0.3px;
}
ion-label.patch-btn:empty {
    display: none !important;
}
.pitch-status {
    background: transparent !important;
    border:1px solid #18213c !important;
    cursor: not-allowed;
    color: #18213c !important;
}


.ex-select{
    text-align: center;
    // padding-bottom: 13px;
}
.ex-select ion-radio-group ion-item ion-radio[ng-reflect-value="remove"] {
    display: none;
}
ion-label.express-title {
    padding: 0px 15px 15px;
    font-size: 17px;
    font-weight: 600;
    display: block;
    line-height: 16px;
}
.interest{
    --background: var(--ion-color-white)00;
    background: var(--ion-color-white)00;
    color: var(--ion-color-black) !important;
    white-space: nowrap;
    border: 1px solid var(--ion-color-logo-red) !important;
    height: auto;
    padding: 5px;
    margin: 3px !important;
    border-radius: 5px;
    display: inline-block;
}
.express-interest{
    --background: #f1f1f1;
    background: #f1f1f1;
    color: var(--ion-color-black) !important;
    white-space: nowrap;
    // border: 1px solid var(--ion-color-logo-red) !important;
    height: auto;
    padding: 5px;
    margin: 3px !important;
    border-radius: 5px;
    display: inline-block;
}
.custom-title-data-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-card {
    background-color: var(--ion-color-gray-3b) !important;
    border-radius: 10px 10px 0px 0px
}

.source-title {
    white-space: normal !important;
}

.source-row {
    background: var(--ion-color-white);
    padding: 5px;
    box-shadow: 0 0 4px rgb(32 33 36 / 28%)
}

.source-cnt {
    padding: 5px 0px;
    // box-shadow: 0 0 4px rgb(32 33 36 / 28%)
}

.m-item-action {
    text-align: right;
    flex: 0 0 40px;
    padding-top: 15px;
}

.m-item-action i,
.chat-icon {
    color: #f00;
    font-size: 20px;
}

.prod-title span,
.prod-title span a {
    text-align: left !important;
    text-decoration: none !important;
    font-weight: bold !important;
    border: none !important;
    color: var(--ion-color-black) !important;
    letter-spacing: 0.3px !important;
    font-size: 16px !important;
    display: inline-block !important;
    vertical-align: middle;
}

ion-radio-group {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1px 10px;
}
ion-radio-group ion-item {
    background: var(--ion-color-transparent);
    --background: var(--ion-color-transparent);
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-border-width: 0px;
    --min-height: auto;
    padding: 0px 5px;
    position: relative;
    min-width: 140px;
    text-align: center;
    font-weight: bold;
}

.data_rdo_block ion-item span.rdo_marks {
    color: var(--ion-color-black) !important;
    border: 1px solid var(--ion-color-light-gray);
    padding: 4px 10px;
    width: 100%;
    white-space: nowrap;
    background: var(--ion-color-white);
    font-size: 14px;
}

.data_rdo_block ion-item ion-radio {
    position: absolute;
    margin: 0px !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.data_rdo_block ion-item ion-radio.radio-checked~span.rdo_marks.reaction_yes {
    color: var(--ion-color-white) !important;
    background-color: var(--ion-color-dark-green);
}

.data_rdo_block ion-item ion-radio.radio-checked~span.rdo_marks.reaction_no {
    color: var(--ion-color-white) !important;
    background-color: var(--ion-color-logo-red);
}

.data_rdo_block ion-item ion-radio.radio-checked~span.rdo_marks.reaction_may_be {
    color: var(--ion-color-white) !important;
    background-color: #ffb52d;
}

.prod-title span {
    // display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center;
}

.card_title {
    color: var(--ion-color-light-trolley-gray) !important;
    padding-right: 5px;
    line-height: 15px;
    height: auto !important;
    letter-spacing:  0.3px !important;
    justify-content: space-between;
    font-size: 14px !important;
    transition: all 300ms ease;
    font-weight: normal;
}
.sub_title {
    color: var(--ion-color-light-trolley-gray) !important;
    line-height: 17px;
    height: auto !important;
    letter-spacing:  0.3px !important;
    justify-content: space-between;
    font-size: 16px !important;
    transition: all 300ms ease;
    font-weight: normal;
}
.sub_title_nm {
    color: var(--ion-color-txt-color)!important;
    line-height: 17px;
    height: auto !important;
    letter-spacing:  0.3px !important;
    justify-content: space-between;
    font-size: 14px !important;
    transition: all 300ms ease;
    // font-weight: bold;
}
.sub_title_nm:last-child {    
    color: var(--ion-color-black) !important;
}
.sub_title_yes {
    line-height: 17px;
    height: auto !important;
    letter-spacing:  0.3px !important;
    justify-content: space-between;
    font-size: 16px !important;
    font-weight: 600;
    transition: all 300ms ease;
    padding-top: 10px;
}
.sub_title_no {
    // color: var(--ion-color-logo-red) !important;
    padding-right: 5px;
    line-height: 17px;
    height: auto !important;
    letter-spacing:  0.3px !important;
    justify-content: space-between;
    font-size: 16px !important;
    font-weight: 600;
    transition: all 300ms ease;
    padding-top: 10px;
}

.card_content {
    // font-weight: bold;
    color: var(--ion-color-black);
    font-weight: normal;
    text-decoration: auto;
}
.sub_content {
    // font-weight: bold;
    color: var(--ion-color-black);
    font-weight: normal;
    text-decoration: auto;
    font-size: 16px;
}
span.card_content img {
    width: 30px;
}
span.with-img {
    text-align: center;
    align-items: center;
    display: flex;
}
.screen_status_title {
    // position: absolute;
    // top: 10px;
    // right: 30px;
    background-color: var(--ion-color-gray);
    padding: 3px 8px;
    border-radius: 5px;
    white-space: nowrap;
    display: flex;
}

.screen_status_div {
    margin: 10px;
}

// .fundraise_count_div {
//     margin-top: 10px;
//     padding-left: 0px !important;
// }

.card_title_div {
    display: flex;
    justify-content: space-between;
}

.prod-title span a {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
}

.locations_count_boxs {
    margin-right: 10px;
}

.locations_count_boxs ion-label {
    text-decoration: none !important;
    font-size: var(--ion-font-fourteen) !important;
}

.prod-item-dis {
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--ion-color-white);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 0px;
    overflow: hidden;
    box-shadow: 0 0px 4px rgb(32 33 36 / 28%);
}

.click-shop a {
    color: var(--ion-color-white) !important;
}

.click-shop {
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 17px;
    display: inline-block;
    padding: 5px;
}

.prod-item-dis ion-grid {
    padding: 0px;
}

.kms-lbl span:last-child::after {
    display: none;
}

.kms-lbl span::after {
    content: "|";
}

.prod_img {
    border: 1px solid #eee;
}

.company-img {
    width: auto;
    padding: 2px;
    max-height: 70px;
    max-width: 70px !important;
    min-width: 65px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seprate-line{
    border-top: 1px solid var(--ion-color-dark-gray);
    text-align: center;
    margin-top: -18px;
}
.admin_rows {
    align-items: center !important;
    margin-top: 15px;
    border-top: 1px solid var(--ion-color-dark-gray);
}

.admin_rows ion-label {
    padding-top: 15px;
    display: block;
    line-height: 15px;
    height: 100%;
}
.admin_rows .card_right_boxs ion-label {
    color: var(--ion-color-pure-gray) !important;
}

.compay_sat {
    margin-top: 5px;
    align-items: center;
}

.status_content_row {
    justify-content: space-between;
    align-items: center;
}

.status_content_row ion-label.right_content {
    border: 1px solid var(--ion-color-pure-gray);
    padding: 2px 5px;
}

.cardlist {
    background-color: var(--ion-color-white);
    border-radius: 10px;
    display: flex;
    // box-shadow: 0 0 4px rgb(32 33 36 / 28%);
    // box-shadow: 0 1px 3px 0 rgba(37,32,31,.3);
    box-shadow: 0px 0px 2px 1px rgba(37,32,31,.3);
    
    position: relative;
    margin-bottom: 15px;
    // border: 1px solid var(--ion-color-itemcard-border);
}

.cardlist:hover {
    // border-color: var(--ion-color-logo-red);
    box-shadow: 0 0 2px 1px rgba(37, 32, 31, .3);
}

.cardlist_images_box {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    max-width: 211px;
    flex: 0 0 211px;
    border-right: 1px solid var(--ion-color-itemcard-border);
    position: relative;
    // min-height: 95px;
    min-height: 200px;
    border-radius: 10px 0 0 0;
}

.cardlist_images_box~.cardlist_content_block {
    flex: 0 0 100%;
    max-width: calc(100% - 211px);
}

.cardlist_content_box {
    padding: 18px 20px;
    position: relative;
}

.cardlist_content_box2 {
    padding: 8px 10px 15px 15px;
    position: relative;
}

.cardlist_images_box1 {
    padding: 20px;
    position: relative;
    max-width: 85px;
    flex: 0 0 85px;
}

.cardlist_images_box1 {
    position: absolute;
    left: -60px;
    top: -60px;
    padding: 0;
    z-index: 11;
    width: 120px;
    height: 120px;
    background: var(--ion-color-dark-green);
    transform: rotate(-45deg);
}

.card_img {
    width: 100%;
    height: 100%;
    min-height: 60px;
    display: block;
    position: relative;
    color: var(--ion-color-black);
    background: var(--ion-color-white);
    padding: 10px;
    z-index: 1;
    border-radius: 10px 0px 0px 10px;
}

// .card_img .ion-img {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     max-height: 95%;
//     max-width: 95%;
//     display: block;
//     margin: 0 auto;
//     transform: translate(-50%, -50%) scale(1);
//     transition-duration: 700ms;
// }

.card_img .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 95%;
    max-width: 95%;
    display: block;
    color: var(--ion-color-black);
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.card_img .file-status {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    color: var(--ion-color-black);
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0px solid #ccc;
    font-size: 16px;
    line-height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.card_img .km_list {
    position: absolute;
    bottom: 10px;
    left: 0%;
    display: block;
    color: grey;
    text-align: center;
    font-size: 14px !important;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card_img .km_list i {
    font-size: 20px;
    color: var(--ion-color-logo-red) !important;
}

.card_img .km_list a {
    color: var(--ion-color-black) !important;
}

.parentComapny {
    color: var(--ion-color-black) !important;
}

// .card_img:hover .ion-img {
//     transform: translate(-50%, -50%) scale(1.1);
//     transition-duration: 700ms;
// }

.site_anchor {
    width: 100%;
    display: block;
    color: var(--ion-color-blue);
    z-index: 1;
    text-align: center;
    margin-top: 12px;
}

.site_anchor a {
    display: inline-flex;
    border: 1px solid var(--ion-color-blue);
    // padding: 8px 15px;
    padding: 6px 8px!important;
    font-size: 14px !important;
    line-height: normal !important;
    border-radius: 30px;
    text-decoration: none;
    color: var(--ion-color-blue) !important;
}

.site_anchor a i{
    color: var(--ion-color-blue) !important;
}

.IsAllVegan {
    position: absolute;
    bottom: 16px;
    padding: 0;
    text-align: center;
    width: 100px;
    display: flex;
    align-items: center;
    z-index: 2;
    left: 10px;
}

.point_sale ion-label {
    color: var(--ion-color-red-shade) !important;
}

.sell-lbl.lbl-img {
    margin: 0 !important;
}

.sub_item_card {
    background: white;
    border-radius: 10px;
}

.sub_item_card:last-child .cardlist_filter_content {
    border-bottom: none !important;
}

.cardlist_filter_content {
    padding: 10px 20px;
    position: relative;
}
.cardlist_filter_content {
    padding: 0px 0px !important;
}
.sub_item_card .cardlist_filter_content {
    border-top: 0px solid var(--ion-color-light-gray);
    border-bottom: 1px solid var(--ion-color-light-gray);
}

.sub_item_card:last-child {
    border-bottom: none;
}

.cardlist_filter_content .status {
    font-size: 14px;
}

// .filter_count_list {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
// }

.filter_count_list ion-label {
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 15px 0px 0px;
    white-space: nowrap;
}

.filter_count_list ion-label .contents {
    display: block;
    font-size: 15px;
}

.filter_count_list ion-label .icons {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: var(--ion-color-white);
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    background-color: var(--ion-color-logo-red);
    margin-right: 7px;
}

.filter_count_list ion-label .icon {
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    font-size: 13px;
    color: var(--ion-color-black);
    font-weight: 400;
    border: 1px solid var(--ion-color-black);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    flex: 0 0 30px;
}

.cardlist_images_box .tags {
    position: absolute;
    left: -60px;
    top: -60px;
    padding: 0;
    z-index: 11;
    width: 120px;
    height: 120px;
    background: var(--ion-color-dark-green);
    transform: rotate(-45deg);
}

.cardlist_images_box .tags span {
    position: absolute;
    display: block;
    margin-right: 0;
    height: auto;
    padding: 0px;
    font-size: 15px;
    color: var(--ion-color-white);
    bottom: 7px;
    right: 30px;
    line-height: 15px;
}

.vagen_icons_list {
    display: flex;
    align-items: center;
    min-width: 102px;
    justify-content: flex-end;
}

.lbl-img {
    margin: 0px !important;
    display: flex !important;
    max-width: 80px;
    overflow: hidden;
}

.vagen_icons_list ion-label {
    font-size: 15px;
    line-height: 15px;
    margin-left: 4px;
}

.isfeatured {
    position: absolute;
    z-index: 22;
    bottom: 0px;
    left: 0px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.isfeatured span {
    color: var(--ion-color-black);
    font-size: 14px;
}

.isfeatured ion-img {
    width: 20px;
    margin-right: 10px;
}

ion-label.brand_content {
    margin-top: 15px;
    color: var(--ion-color-light-trolley-gray) !important;
    font-size: 14px !important;
    letter-spacing: 0.3px;
    -webkit-line-clamp: 2;
    text-align: left;
}
.impact-funding ion-label.brand_content {
    color: var(--ion-color-black) !important;
    font-weight: normal;
}
.cardlist_content_box ion-label span a, .cardlist_content_box2 ion-label span a {
    font-size: 16px;
    line-height: 1.5rem;
}
ion-label.brand_content span {
    // color: var(--ion-color-dark-gray) !important;
    color: var(--ion-color-black) !important;
    letter-spacing: 0.3px;
    font-size: 16px !important;
}


.cardlist_images_box .tags i {
    display: none;
}

.round span {
    border: 1px solid var(--ion-color-pure-gray);
    padding: 2px 5px;
    display: inline-block;
    border-radius: 10px;
    line-height: normal !important;
}

.round-squre {
    border: 1px solid var(--ion-color-pure-gray);
    padding: 2px 5px;
    display: inline-block;
    border-radius: 5px;
    line-height: normal !important;
}

.business-activity span {
    border-radius: 50px;
    padding: 5px 10px !important;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 13px !important;
    text-transform: capitalize !important;
    letter-spacing: 0.5px;
    background-color: var(--ion-color-gray);
    color: var(--ion-color-black);
    border: 1px solid var(--ion-color-light-gray);
    display: -webkit-inline-box;
}

.import .title ion-label {
    color: var(--ion-color-gray);
    font-size: 14px;
    display: grid;
    // word-break: break-all;
    // -webkit-box-orient: vertical;
    // white-space: break-spaces;
}

.import .content ion-label {
    color: var(--ion-color-black);
    font-size: 14px;
    word-break: break-all;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}

.import .cardlist_content_box ion-row ion-col:first-child {
    flex: 0 0 185px;
}

.import .cardlist {
    background-color: var(--ion-color-white);
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 4px rgb(32 33 36 / 28%);
    position: relative;
    margin-bottom: 15px;
    padding: 10px;
}

.flex-view {
    display: flex;
    justify-content: space-between;
}

.permission-ionc-content {
    min-height: auto !important;
}



.auto-m {
    flex: 0 0;
    max-width: 340px;
}

.auto-m div {
    display: flex;
    align-items: center;
}

.auto-m div ion-label {
    -webkit-line-clamp: 1;
    font-size: 15px;
    white-space: nowrap;
}

.ex-select ion-item {
    // margin: 0px 5px;
    position: relative;
    overflow: hidden;
}
.ex-select ion-radio-group ion-label {
    margin: 0px !important;
    padding: 8px 15px !important;
    background: var(--ion-color-white);
    border-radius: 50px;
    color: var(--ion-color-light-trolley-gray) !important;
    border: 1px solid var(--ion-color-light-trolley-gray) !important;
    font-size: 18px !important;
}

// .ex-select .ex-select-no ion-label {
//     color: var(--ion-color-logo-red) !important;
    
// }
.ex-select .ex-select-may_be ion-label {
    color: orange !important;
}
.ex-select ion-item ion-radio {
    position: absolute;
    // top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    opacity: 0;
    margin: 0px !important;
}
ion-item.ex-select-remove {
    display: none !important;
}
span.express-interest:empty {
    display: none !important;
}
.ex-select ion-item ion-radio.radio-checked ~ ion-label {
    background: var(--ion-color-dark-green) !important;
    color: var(--ion-color-white) !important;
    border-color: var(--ion-color-dark-green) !important;
}
.ex-select ion-item.ex-select-no ion-radio.radio-checked ~ ion-label {
    background: var(--ion-color-logo-red) !important;
    color: var(--ion-color-white) !important;
    border-color: var(--ion-color-logo-red) !important;;
}
.ex-select ion-item.ex-select-may_be ion-radio.radio-checked ~ ion-label {
    background: orange !important;
    color: var(--ion-color-black) !important;
}
.btn-view {
    align-items: center;
    display: flex;
    justify-content: center;
}
.btn-view i{
    margin-right: 5px;
}
.cnt-card{
    padding: 12px 12px 7px 12px;
    justify-content: space-between;
}
ion-button.sub_title {
    background: transparent;
    --background: transparent;
    box-shadow: none;
    --box-shadow: none !important;
    text-align: start;
    --padding-start: 1px;
    --padding-end: 1px;
    --padding-top: 1px;
    --padding-bottom: 1px;    
    --border-radius: 0px;
    text-transform: none;
    line-height: normal;
    margin-inline:0px;
    margin: 0px;
    font-size: 15px !important;
}
.spacing{
    justify-content: space-between;
    padding: 12px 0px 0px 0px;
    display: flex;
}
.spacing:first-child{
    padding: 0px !important;
}
.spacing:last-child{
    padding-bottom: 5px !important;
}
div ion-button.cnt{
    color: var(--ion-color-black) !important;
    padding: 0px 5px;
    font-weight: bold;;
}
.cardlist_content_box.funding_profile_title {
    padding: 0;
}
.cardlist_content_box.funding_profile_title prod-title > div {
    align-items: flex-start !important;
}
.company_name ,.l-date{
    align-items: center;
    background: var(--ion-color-txt-color) !important;
    color: var(--ion-color-white);
    font-size: 14px;
    // padding: 12px;
    padding: 12px 6px;
}
.profile_name,.l-date {
    align-items: center;    
    padding: 12px 12px 0px 12px;
    display: inline-block;
}
.company_name span,.company_name a{
    color: var(--ion-color-white);
    font-size: 14px;
}
 .profile_name a,.company_name a{
    font-size: 14px;
     color: var(--ion-color-blue)!important;
    }
.company_name div a,.company_name div span{
    font-size: 16px;
    color: var(--ion-color-txt-color);
}

.profile_name div a,.profile_name div span{
    font-size: 16px;
    // color: var(--ion-color-white);
}
.l-date span{
    font-size: 18px;
}
.profile_name div{
    color: var(--ion-color-txt-color) !important;
    font-size: 14px;
    // color: var(--ion-color-black)!important;
    // font-weight: bold;
    letter-spacing: 0.3px;
}
.classified_boxs{
    padding: 0px !important;
}
.classified_boxs ion-label {
    margin-bottom: 8px;
}
.classified_boxs ion-label:last-child {
    margin-bottom: 12px;
}
.match-type{
    display: inline-block;
    font-size: 14px!important;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.match-type span{
    display: flex;
    align-items: center;
}
.match-type span a{
    margin-right: 10px;
}
.match-type .fa-user-circle{
    font-size: 18px !important;
}
.company_name div .match-type span a i {
    color: var(--ion-color-white);
}
.profile_name div .match-type span a i {
    color: var(--ion-color-txt-color);
}
.company_name div{
    font-size: 14px!important;
    color: var(--ion-color-white);
    letter-spacing: 0.3px;
}
.profile_name span{
    font-size: 14px ;
    color: var(--ion-color-txt-color);
}
.report-item-lbl {
    padding: 0px 12px 12px 12px;
}
.company_name ion-label,.profile_name ion-label{
    justify-content: space-between;
    display: flex;
    width: 100%;
    font-size: 16px;
}
span.type-lbl {
    position: relative;
    // border-radius: 20px;
    border-radius: 10px;
    padding: 8px 22px 8px 10px !important;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 14px!important;
    letter-spacing: 0.3px;
    background-color: var(--ion-color-gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--ion-color-txt-color) !important;
    text-align: left;
}
span.type-lbl.esg {
    background-color: var(--ion-color-yellow);    
}
.type-lbl.full-content{
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    border-radius: 10px;
}
span.type-lbl a,span.type-lbl i{
    position: absolute;
    top: 7px;
    right: 0px;
    background: transparent !important;
}
span.gender-lbl,span.gender-lens {
    position: relative;
    border-radius: 20px;
    padding: 8px 15px 8px 10px !important;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 14px!important;
    letter-spacing: 0.3px;
    // background-color: var(--ion-color-logo-red);
    // color: var(--ion-color-white) !important;
    background-color: var(--ion-color-genderlans);
    color: var(--ion-color-white) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.gender-lbl.full-content,.gender-lens.full-content{
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    border-radius: 10px;
}
span.gender-lbl a,span.gender-lens a{
    position: absolute;
    top: 7px;
    right: 0px;
    background: transparent !important;
}
span.gender-lbl i,span.gender-lens i{
color: var(--ion-color-white) !important;
cursor: pointer;
}
ion-text {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 14px!important;
    letter-spacing: 0.3px;
    padding-right: 5px;
}
.report-item-lbl ion-label{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 7px 0px;
    font-size: 16px;
}
.report-item-lbl span:first-child {
    max-width: 50%;
}
.report-item-lbl ion-label span:last-child {
    font-weight: bold;
}
.report-item-lbl ion-label span:last-child {
    font-weight: bold;
}
.ex-select ion-radio-group ion-label .icons_btn {
	width: 26px !important;
    display: inline-block !important;
    margin-right: 10px;
}
.ex-select span.icons_btn i{
    font-size: 25px;
}
.ex-select ion-radio-group ion-label .icons_btn img {
	display: block;
}
.ex-select ion-radio-group ion-label {	
	display: flex !important;
	align-items: center !important;
	justify-content: center;
	min-height: 44px;
}
.spacing.bottom_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spacing.bottom_btns .users_icons a, .spacing.bottom_btns .users_icons i {
	display: block;
	text-decoration: none !important;
	outline: none !important;
}


// .cnt-card.pos_button .spacing.bottom_btns {
// 	position: absolute;
// 	width: 100%;
// 	left: 0;
// 	padding: 0 12px !important;
// 	bottom: 12px;
// }
// .cnt-card.pos_button {
// 	padding-bottom: 58px !important;
// }


.fundraise_protxt ion-label {
    display: flex !important;
	// align-items: center !important;
	text-align: center;
	justify-content: center !important;
}
.fundraise_protxt ion-label i{
    margin-right: 10px;
}
// .fundraise_protxt ion-label img {
// 	max-width: 30px;
// 	margin-right: 10px;
// 	flex: 0 0 30px;
// 	display: block;
// }

.fundraise_protxt {
	padding-top: 12px;
}


.heading_relort {
	background: var(--ion-color-gray);
	padding: 8px;
	display: flex;
	align-items: center;
}
.heading_relort ion-label {
	display: block !important;
	flex: 0 0 50%;
	max-width: calc(50% - 15px);
	color: var(--ion-color-black) !important;
	font-size: 16px !important;
}
.heading_relort div {
	flex: 0 0 30px;
	max-width: 30px;
	text-align: center;
}
.heading_relort div i {
	color: var(--ion-color-black);
	display: block;
	text-align: center;
	font-size: 18px;
}
.heading_relort ion-label:last-child {
	text-align: right;
}

.site_anchor {
    bottom: 25px;
    position: absolute;
}

.item_card_enabler .cardlist_images_box{
    min-height: auto;
    max-width: 100px;
    border: 0px;
    border-radius:10px;
}
// .item_card_enabler .cardlist_images_box .card_img {
    
// }
.item_card_enabler .card_img {
    padding: 0px;
    display: flex;
    align-items: center;
} 
.item_card_enabler .m-0 {
    margin: 0px;
} 
.item_card_enabler .pl-0, .item_card_enabler .pr-0 {
    padding-left: 0px !important;
} 
.item_card_enabler .pt-15 {
    padding-top: 15px !important;
} 
.item_card_enabler .pb-15 {
    padding-bottom: 18px !important;
} 
.item_card_enabler .pl-15 {
    padding-left: 15px !important;
} 
.item_card_enabler .cardlist_content_box {
    padding: 0px;
} 
.item_card_enabler ion-row .cardlist_content_block {
    padding: 0px;
}
.item_card_enabler ion-row {
    padding: 15px 15px 0 15px;
}
.item_card_enabler ion-row .extraTitle{
    padding-bottom: 15px;
}

.item_card_enabler .cardlist_images_box~.cardlist_content_block {
    flex: 0 0 100%;
    max-width: calc(100% - 100px);
}

// .item_card_enabler .card_img {
//     width: 100%;
//     height: 100%;
//     min-height: 60px;
//     display: block;
//     position: relative;
//     color: var(--ion-color-black);
//     background: var(--ion-color-white);
//     padding: 10px;
//     z-index: 1;
//     border-radius: 10px 0 0 10px;
// }

@media (max-width: 1100px) {
    .cardlist_images_box {
        max-width: 155px;
        flex: 0 0 155px;
    }
    .cardlist_images_box~.cardlist_content_block {
        max-width: calc(100% - 155px);
    }
}
@media (max-width: 992px) {
    .counts_row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px -8px;
    }
    .counts_row ion-col {
        flex: 0 0;
        padding: 0px 8px;
    }
    .site_anchor a {
        padding: 8px 8px !important;
        font-size: 13px !important;
    }
    .cardlist_filter_content {
        padding: 9px 5px 0px 2px;
    }
    
    .cardlist_content_box,
    .cardlist_content_box2 {
        padding: 8px 15px 10px 10px;
    }


    .cardlist_images_box {
        min-height: 120px !important;
        max-width: 125px;
        flex: 0 0 125px;
    }
    .cardlist_images_box~.cardlist_content_block {
        max-width: calc(100% - 125px);
    }
    .site_anchor {
        margin-top: 8px;
    }
}
@media (max-width: 830px) {
    .custom-title-data-div {
        display: block;
    }
    .screen_status_title {
        display: initial;
    }
    #app-ui.cardlist_filter_content {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px 8px 8px 8px;
        border-top: 1px solid var(--ion-color-light-gray);
        position: relative;
        margin-top: -2px;
        z-index: 2;
    }
    .sub_item_card #app-ui.cardlist_filter_content {
        border-top: 1px solid var(--ion-color-light-gray);
        border-bottom: 1px solid var(--ion-color-light-gray);
    }
    .card_img {
        padding: 5px;
    }
    .card_img .ion-img {
        max-height: calc(100% - 8px);
        max-width: calc(100% - 5px);
    }
    .cardlist_images_box {
        max-width: 100px;
        flex: 0 0 100px;
        border-right: none !important; //input from prashant
    }
    .cardlist_images_box~.cardlist_content_block {
        flex: 0 0 100%;
        max-width: calc(100% - 100px) !important;
    }
    .cover-photo {
        max-height: 130px;
    }
    .permission-ionc-content {
        min-height: 80px !important;
    }

    .cardlist_filter_content {
        padding: 5px 5px 0px 2px;
    }
    .card_img div {
        position: relative;
        width: 100%;
        height: 98%;
    }

    .card_img {
        height: 66% !important;
    }

    .cardlist_images_box {
        min-height: auto !important;
    }

    .cardlist_images_box .tags{
        left: -36px;
        top: -36px;
        width: 60px;
        height: 60px;
    }
    .cardlist_images_box .tags span {
        display: none !important;
    }
    .report-item-lbl.Funding, .report-item-lbl.Fundraise {
        padding: 0px !important;
        margin: 0px !important;
    }
    ion-label.brand_content span {
        font-size: 12px !important;
    }
    
    .report-item-lbl.Funding ion-label, .report-item-lbl.Fundraise ion-label {
        margin: 0px !important;
        padding: 0px !important;
        margin-top: 1px !important;
        align-items: center;
    }
    .report-item-lbl.Funding span, .report-item-lbl.Fundraise span {
        padding: 0px 12px;
        font-weight: normal !important;
    }
    .report-item-lbl.Funding .sub_title, .report-item-lbl.Fundraise .sub_title {
        background: var(--ion-color-txt-color);
        color: var(--ion-color-white) !important;
        display: block;
        width: 100%;
        font-size: 15px !important;
        line-height: normal !important;
        padding: 8px 12px;
    }
    .report-item-lbl.Fundraise .sub_title {
        background: #f1f1f1;
        color: var(--ion-color-txt-color) !important;
    }
}
@media (max-width: 768px) {
    .three-line{
        -webkit-line-clamp: 3;
        line-height: 1rem !important;
    }
    .match-per{
        letter-spacing: normal;
    }
    ion-radio-group {
        padding: 0px 6px;
    }
    .spacing {
        padding: 8px 0px 0px 0px;
    }
    .cnt-card {
        padding: 8px 8px 0px 8px;
    }
    .label_card_content{
        min-height: auto;
    }
    .cnt-card.pos_button .spacing.bottom_btns {
        position: relative;
        width: 100%;
        left: auto !important;
        padding: 0px !important;
        bottom: auto !important;
        padding-top: 8px !important;
    }
    .cnt-card.pos_button {
        padding-bottom: 9px !important;
    }

    .cover-photo {
        border-radius: 5px 5px 0px 0px;
    }

    .report-item-lbl.Funding, .report-item-lbl.Fundraise {
        padding: 0px !important;
        margin: 0px !important;
    }
    .report-item-lbl.Funding span, .report-item-lbl.Fundraise span {
        padding: 0px 8px !important;
        font-weight: normal !important;
    }
    .report-item-lbl.Funding .sub_title, .report-item-lbl.Fundraise .sub_title {
        padding: 8px !important;
    }
    .impact-funding .tags1 span {
        display: none;
    }
    .btn_view {
        display: block;
    }
    .flex-view {
        display: block;
    }
    .auto-m {
        flex: 0 0 100%;
    }
    .auto-m div {
        display: block;
        margin-left: -5px !important;
    }
    .auto-m div ion-label {
        padding: 5px;
    }
    ion-radio-group ion-item {
        padding: 0 10px;
    }
    .cardlist_images_box .tags {
        position: absolute;
        left: -25px;
        top: -25px;
        width: 50px;
        height: 50px;
    }
    .cardlist_images_box .tags i {
        position: absolute;
        display: none;
        margin-right: 0;
        height: auto;
        padding: 0px;
        font-size: 17px;
        color: var(--ion-color-white);
        bottom: 5px;
        right: 34px;
        line-height: 15px;
    }
    .cardlist_images_box .tags span {
        display: none;
    }
    ion-label.brand_content {
        margin-top: 12px;
    }
    .item_card_enabler ion-label.brand_content{
        margin-top: 8px !important;
    }
    .company-details {
        padding: 10px 0px;
    }
    ion-row.company-details ion-col:first-child {
        padding-bottom: 10px;
    }
    .company-details .end {
        flex: 0 0 100%;
    }
    .card_img {
        padding: 5px;
        height: 64% !important;
    }
    .site_anchor a {
        // padding: 6px 10px !important;
        font-size: 12px !important;
    }

    .cardlist_images_box {
        min-height: auto !important;
    }
    .buttons-div {
        display: block;
        margin-left: -9px;
    }
    #app-ui.cardlist_filter_content{
        padding: 0px 8px 0px 8px;
    }

    .site_anchor {
        bottom: auto;
        margin-left: 4px;
    }
    
}
@media (max-width: 640px) {
    // .filter_count_list ion-label.shops {
    //     display: none !important;
    // }
    .item_card_enabler ion-row {
        padding: 10px 10px 0 10px;
    }
    .item_card_enabler ion-row .extraTitle{
        padding-bottom: 10px;
    }
    .item_card_enabler .cardlist_content_box {
        padding-left: 0px !important;
    }
    .item_card_enabler .card_img .ion-img {
        max-width: calc(100% - 10px);
    }
}
@media(max-width:535px)
{
    .heading_relort ion-label span {
        display: block;
    }
}
@media (max-width: 480px) {
    .vagen_icons_list {
        min-width: 88px;
        justify-content: flex-start !important;
        margin-top: 8px;
        margin-left: 3px;
    }
    .lbl-img {
        max-width: 66px;
    }
    .vagen_icons_list ion-label {
        font-size: 14px !important;
        line-height: 15px;
        margin-left: 2px;
        margin-top: 8px !important;
        padding-left: 3px !important;
    }
    .cardlist_filter_content ion-grid {
        padding: 0px 4px !important;
    }
    .counts_row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px -8px;
    }
}
@media (max-width: 360px) {
    .filter_count_list ion-label .contents {
        font-size: 13px !important;
    }
}

