<!-- <div class="methodology-box">
    <p>{{msg}}</p>
    <a class="btn btn-round htwork clickEv" href="/contact" (click)="openPage('/contact')">{{store.getVal('website_key_26')}}</a>
</div> -->

<section class="con_products" style="background: #F8F8F8;">
    <div class="container-fluid">
        <div class="container container-lg">
            <div class="row outer-block fadeInUp" style="margin-top: 0px;background: transparent;">
                <div class="home-block m-5">
                    <div class="row d-flex justify-content-center ">
                        <div class="cons_title ml-auto mr-auto p-5 text-center">
                            <h2>{{msg}}</h2>
                        <div class="action-dive">
                            <a [href]="'/contact-us'" target="_blank" class="button btn-primary mt-4 htwork clickEv" (click)="openPage('/contact')">{{store.getVal(btn)}}</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>