ion-row {
    text-align: center;
}

.empt {
    text-align: left;
}

.mt {
    margin-top: 15px;
    margin-bottom:5px
}
.m-0-5 {
    margin-top: 0px;
    margin-bottom:5px
}

.empt .mt {
    margin-top: 0px;
}

span {
        cursor: auto;
        width: 100%;
}