.cardlist{
    background-color: var(--ion-color-white);
    border-radius: 10px;
    display: flex;
    padding: 20px;
    box-shadow: 0 0 4px #20212447;
    position: relative;
    margin: 15px 0px !important;
    overflow: visible;
}
ion-label{
    font-size: 16px;
}