<ion-app>
     <ion-menu side="start" menuId="home" contentId="content1">
        <ion-content>
            <ion-list style="padding: 0px;">
                <div>
                    <ion-item *ngIf="isLogin && store.AdminAccess" class="list-item" (click)="openAdmin()">
                        <ion-label class="lbl-style-m sub_ele"><i class="fa-solid fa-user-gear"></i><a class="clickEv" [href]="adminUrl">{{store.getVal('admin')}}</a></ion-label>
                    </ion-item>
                </div>
                <div>
                    <ion-item *ngFor="let item of segments" class="list-item" (click)="ClickItem('explore',item.key)">
                        <ion-label class="lbl-style-m"><i *ngIf="item.icon != undefined" [class]="item.icon"></i><a class="clickEv" [href]="getPath('explore',item.key)">{{item.label}} </a></ion-label>
                    </ion-item>
                </div>
                <div>
                    <ion-item class="list-item">
                        <ion-label class="lbl-style-m" [ngClass]='activePage' (click)="Contact()">
                            <i [class]="'fa-regular fa-comment'"></i>{{store.getVal('contact_us')}}
                        </ion-label>
                    </ion-item>
                </div>
                <ion-item class="list-item " (click)="ClickItem('explore','plans_and_pricing')">
                    <ion-label class="lbl-style-m"><i class="fa-file-invoice fa-solid"></i>
                        <a class="clickEv" [href]="getPath('explore','plans_and_pricing')">{{store.getVal('plans_and_pricing')}}</a></ion-label>
                </ion-item>
                <div *ngIf="!isLogin">
                    
                    <ion-item class="list-item"  (click)="ClickItem('auth','signup')">
                        <ion-label class="lbl-style-m"><i class="fa-solid fa-user-plus"></i><a class="clickEv" [href]="getPath('auth','signup')">{{store.getVal('sign_up')}}</a></ion-label>
                    </ion-item>
                    <ion-item class="list-item" (click)="ClickItem('auth','login')">
                        <ion-label class="lbl-style-m"><i class="fa-solid fa-chalkboard-user"></i>
                            <a class="clickEv" [href]="getPath('auth','login')">{{store.getVal('log_in')}}</a>
                        </ion-label>
                    </ion-item>                   
                </div>
                <ion-item class="list-item">
                    <div class="social_icons">
                        <a href="https://www.facebook.com/pi2Life" target="_blank">
                            <ion-img src="assets/images/fb.png" alt=""></ion-img>
                        </a>
                        <a href="https://twitter.com/Pi2Life" target="_blank">
                            <ion-img src="assets/images/twitter.png" alt=""></ion-img>
                        </a>
                        <a href="https://www.linkedin.com/company/pi2life/" target="_blank">
                            <ion-img src="assets/images/linkdeen.png" alt=""></ion-img>
                        </a>
                        <a href="https://www.instagram.com/pi2life/" target="_blank">
                            <ion-img src="assets/images/insta-w.png" alt=""></ion-img>
                        </a>
                    </div>
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-menu side="end" menuId="profile" *ngIf="isLogin" contentId="content1">
        <ion-content>
            <ion-list style="padding: 0px;">
                <div>
                    <ion-item class="list-item headers" (click)="closeSub('profile')">
                        <ion-label class="lbl-style-m sub_ele">{{store.getVal('back')}}</ion-label>
                    </ion-item>
                    <ion-item *ngFor="let item of segmentsProfile" class="list-item" (click)="ClickItem('user',item.key)">
                        <div style="padding-left: 0px; width: 100%;">
                            <ion-label class="lbl-style-m" style="background: var(--ion-color-light-white);color: black !important;" *ngIf="item.title != undefined">{{item.title}}</ion-label>
                            <ion-label class="lbl-style-m"><i *ngIf="item.icon != undefined" [class]="item.icon"></i><a class="clickEv" [href]="getPath('user',item.key)">{{item.label}}</a></ion-label>
                        </div>
                    </ion-item>
                    <ion-item class="list-item" (click)="logout()">
                        <ion-label class="lbl-style-m"><i class="fa-solid fa-right-from-bracket"></i>{{store.getVal('log_out')}}</ion-label>
                    </ion-item>
                </div>
            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-menu *ngIf="!this.store.IsWebView" side="start" menuId="nmenu"  contentId="content1">
        <ion-content>
            <ion-list style="padding: 0px;">
                <div>
                    <ion-item-divider style="background: var(--ion-color-black);">
                        <div style="justify-content: space-between; display: flex; align-items: center; width: 100%;">
                            <ion-img style="width: 120px; padding: 26px 0px;cursor: pointer;" (click)="homePage('nmenu')" src="../assets/images/logos/Funder-F.png"></ion-img>
                            <i class="fa-regular fa-circle-xmark" style="font-size: 30px;color: var(--ion-color-gray);" (click)="closeNmenu('nmenu')"></i>
                        </div>
                    </ion-item-divider>
                  
                    <ion-item-group>
                        <ion-item-divider>
                            <ion-label>Product</ion-label>
                        </ion-item-divider>
                      
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/how-it-works')">
                                <a class="clickEv" href="/how-it-works">How it works</a>
                            </ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/features')">
                                <a class="clickEv" href="/features">Features</a>
                            </ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/faq')">
                                <a class="clickEv" href="/faq">FAQ</a>
                            </ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/plans-and-pricing')">
                                <a class="clickEv" href="/plans-and-pricing">Pricing</a>
                            </ion-label>
                        </ion-item>
                      </ion-item-group>        
                    <ion-item-group>
                        <ion-item-divider>
                          <ion-label>Solutions</ion-label>
                        </ion-item-divider>
                      
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/solutions/impact-investor-clubs')">
                                <a class="clickEv" href="/solutions/impact-investor-clubs">Impact Investor Clubs</a>
                            </ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/solutions/impact-and-sustainability-ecosystems')"><a class="clickEv" href="/solutions/impact-and-sustainability-ecosystems">Impact and Sustainability Ecosystems</a></ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/solutions/incubators-and-accelerators')"><a class="clickEv" href="/solutions/incubators-and-accelerators">Incubators and Accelerators</a></ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/solutions/investment-advisors-and-fundraisers')"><a class="clickEv" href="/solutions/investment-advisors-and-fundraisers">Investment Advisors and Fundraisers</a></ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/impact-funding-resources')"><a class="clickEv" href="/impact-funding-resources">Impact Funding Resources</a></ion-label>
                        </ion-item>
                      </ion-item-group>     
                      <ion-item-group>
                        <ion-item-divider>
                          <ion-label>Company</ion-label>
                        </ion-item-divider>
                      
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/about')">
                                <a class="clickEv" href="/about">About</a>
                            </ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m" (click)="openPage('/partners')">
                                <a class="clickEv" href="/partners">Partners</a>
                            </ion-label>
                        </ion-item>
                        <ion-item class="list-item">
                            <ion-label class="lbl-style-m"><a href="/contact">Contact Us</a></ion-label>
                        </ion-item>
                    </ion-item-group>
                      <ion-item-divider *ngIf="!isLogin" style="background: var(--ion-color-black);padding: 15px 10px">
                        <a class="btn btn-round btn-outline login" href="/auth#login" style="margin-right: 10px;">Log in</a>
                        <a class="btn btn-round btn-outline btn-primary d-none d-xs-inline-block" href="/auth#signup">Sign up</a>

                        </ion-item-divider>
                </div>
            </ion-list>

        </ion-content>
    </ion-menu> 
    <ion-router-outlet id="content1"></ion-router-outlet>
    <app-loading style="z-index: 1111111;"></app-loading>
</ion-app>