.Overview_box.left {
    flex: 0 0 70%;
    max-width: 70%;
}

.Overview_box.right {
    flex: 0 0 30%;
    max-width: 30%;
}
.Overview_box.right ion-label.content{
    margin-bottom: 5px !important;
}

@media (max-width: 1260px) 
{
    #fullrepo_data .grid item-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .admin_right_panel .container1 {
        padding-top: 12px !important;
    }
}

@media (max-width: 1150px) 
{
    .top-div.top_cards_boxs.mods {
        flex-wrap: wrap;
    }
    .admin_right_panel .container1 {
        padding-top: 12px !important;
    }
    .top-div.top_cards_boxs.mods .titles_names {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1090px) {
    .right-action-switch{    
        display: block !important;
    }
    .admin_right_panel .container1 {
        padding-top: 12px !important;
    }
    .right-action-switch .btn-group.pull-right {
        padding:10px 0px 0px 0px
      }
      .pos1{
        order: 2;
    }
    .pos2{
        order: 1;
    }
    
}

@media (max-width: 992px) {
   
    .contact-col{
        flex: 0 0 auto;
        max-width: 558px;
    }

    .col-min-25{
        flex: 0 0 33%;
        min-width: 33%;
    }
    .col-min-50{
        flex: 0 0 33%;
        min-width: 33%;
    }
    .admin_right_panel .container1 {
        padding-top: 12px !important;
    }
    
    .pitch-doc-view{
        height:calc(100vh - 203px);
    }

    .ex-select ion-item {
        margin: 0px 3px;
        padding: 0px !important;
    }
    .ion-justify-content-end {
        justify-content: center !important;
    }
    .cotact-field ion-col {
        flex: 0 0 50% !important;
        width: 50% !important;
    }
    .admin-page_wapper .admin_left_panel {
        display: none;
    }
    
    .admin_right_panel {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 11px 15px !important;
    }
    #top_card .main_cols.auto-cols.admin_right_panel {
        padding: 0px !important;
    }
    enabler-match-report #top_card .main_cols.auto-cols.admin_right_panel {
        padding-top: 15px !important;
    }
    enabler-match-report #top_card .main_cols.auto-cols.admin_right_panel ion-label{
        padding-left: 10px !important;
    }
    
    .Overview_box.left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .Overview_box.right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    // .filter_count_list {
    //     margin: 0px 8px !important;
    //     // flex-wrap: wrap;
    // }
    .modal-wrapper.ion-overlay-wrapper {
        height: var(--height) !important;
    }
    #home_wapper #classifides .classified_box.visible ion-label.more_info {
        top: 29px !important;
    }
    .vetical_menu_icons .admin_right_panel {
        max-width: calc(100% - 16px) !important;
    }
    // .cardlist_content_box.impact-funding .prod_title_box {
    //     margin-left: 25px;
    //  }
}

@media (max-width: 830px) {
    .contact-col{
        flex: 0 0 auto;
        max-width: 558px;
    }
    .two-leve-data {
        font-size: 12px;
    }
    .col-min-25{
        flex: 0 0 50%;
        min-width: 50%;
    }
    .col-min-50{
        flex: 0 0 50%;
        min-width: 50%;
    }
    .impact-themes-content{
         font-size: 12px;
     }
    .admin_right_panel .container1 {
        padding-top: 12px !important;
    }
    ion-chip {
          font-size: 14px !important;
          margin-top: 10px;
      }
    .last-introduce-date {
        font-size: 14px;       
    }
    .last-introduce-date i{
        font-size: 14px;
    }
    .mb-tbl#app-ui {
        background-color: var(--ion-color-white);
        border-radius: 10px;
        display: flex;
        box-shadow: 0 0 4px rgb(32 33 36 / 28%);
        position: relative;
        margin-bottom: 15px;
        padding: 10px;
        overflow: visible;
    }
    #web-ui {
        display: none !important;
    }
    #app-ui {
        display: block !important;
    }
    ion-label.brand_content {
        -webkit-line-clamp: 3 !important;
        font-size: 12px !important;
    }
    .cardlist_content_box ion-label span a, .cardlist_content_box2 ion-label span a {
        font-size: 12px !important;
    }
    #app-ui.card_classification {
        flex: 0 0 100%;
        max-width: 100%;
    }

    reference-data-setting #app-ui .cardlist_content_box{
        padding: 10px !important;
    }
    .filter_count_list .classified_box {
        padding: 0 !important;
    }
    .counts_row {
        align-items: start!important;
        // margin-top: 0!important;
        // padding: 10px;
        // padding-bottom: 0px;
    }
    .counts_row ion-col.lbl_count_img {
        margin-top: 5px !important;
        padding-top: 0px !important;
    }
    /* Table */
    .fixTableHead thead {
        display: none;
    }
    .fixTableHead table tr {
        display: block;
        box-shadow: 0 0 4px rgba(32, 33, 36, 0.28);
        margin: 10px 2px;
        padding: 5px;
        border-radius: 10px;
    }
    .fixTableHead table tr td {
        display: flex;
        border: none;
    }
    .fixTableHead table tr td span {
        font-weight: bold;
    }
    .fixTableHead table tr td.bl_data {
        display: none;
    }
    .fixTableHead table tbody {
        display: block;
    }
    enabler-match-report th,item-card th,  full-report-details th, summary th, fundraise-needs-details th, funding-profiles-submitted-details th, funding-profile-details th, full-report-details td, summary td, fundraise-needs-details td, funding-profiles-submitted-details td, funding-profile-details td {
        //  min-width: 100px
         min-width: auto;
    }

    enabler-match-report .container,full-report-details .container{
        padding: 15px 10px!important;
    }
    
    #app-ui.cardlist_filter_content {
        padding-bottom: 0px !important;
    }

    permissions-items .card_right_panels .cardlist_content_box {
        padding: 8px !important;
    }
    .ion-img.far.fa-user-circle {
        font-size: 35px;
    }
    // .filter_count_list.newcards > ion-label {
    //     padding: 8px 8px 0px 0px !important;
    // }
    .filter_count_list.newcards {
        // margin: 0px !important;
        display: block !important;
    }

    #fullrepo_data #web-ui.items_counts,#web-ui.count_boxs {
        display: block !important;
        // padding-top: 5px !important;
    }
    
    .top-div.top_cards_boxs {
        display: flex !important;
    }
    .top-div.top_cards_boxs.mods {
        display: block !important;
    }
    ion-select {
        --padding-top: 4px;
        --padding-end: 6px;
        --padding-bottom: 4px;
        --padding-start: 6px;
        min-width: 80px !important;
        min-height: auto !important;
        border-radius: 5px!important;
    }
}

@media (max-width: 768px) 
{
    .contact-col{
        flex: 0 0 auto;
        max-width: 448px;
    }
    .col-min-25{
        flex: 0 0 100%;
        min-width: 100%;
    }
    .col-min-50{
        flex: 0 0 100%;
        min-width: 100%;
    }
    ion-button{
        font-size: 13px !important;
    }
    
    .container ion-row ion-col h1 {
        font-size: 18px;
    }
    .admin_right_panel .container1 {
        padding: 0px !important;
    }
    .with-chip{
        padding: 0px 0px 15px 0px;
        flex:  0 0 100%;
    }
    // .form-group ng-select.form-control {
    //     font-size: 12px !important;    
    // }
    ion-card-title {
        margin-right: 0px;
    }
    .Overview-box ion-label.title {
        // margin: 11px 0 10px 0;
        padding: 11px 0 10px 0;
    }
    // permissions-items .card_right_panels .cardlist_content_box {
    //     padding: 8px !important;
    //     padding-bottom: 0px !important;
    // }
    .dateView {
        margin: 0px !important;
        padding: 0px !important;
        flex-wrap: wrap !important;
    }
    .dateView ion-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0px !important;
        width: 100% !important;
    }
    .counts_filter_block {
        margin: 0 -10px;
        flex-wrap: wrap;
    }
    .admin_right_panel .counts_filter_block.main_rows.mt-res .main_cols.auto-cols {
        padding: 0px 10px;
    }
    .counts_filter_block ion-col.tab_contents.details-page {
        padding: 15px 10px !important;
    }
    .chip {
        padding: 15px 0 0 0px !important;    
    }
    .datachips_boxs {
        margin: 10px 0px;
    }
    .report-item-lbl ion-label span:last-child {
        text-align: right;
    }
    .left_filter_panel {
        white-space: nowrap;
        padding: 0px 10px;
    }
    .right_filter_panel {
        padding: 0px 10px !important;
        white-space: nowrap !important;
        text-align: end;
    }
    // .filter_nav {
    //     margin: 0px;
    // }
    
    .open_filter_button {
        padding: 0px 10px;
    }
 
    enabler-details .form_add_btn {
        flex: 0 0 35px !important;
        max-width: 35px !important;
    }
    .add_buttons {
        // border: none !important;
        padding: 0px !important;
        margin: 0px !important;
        // background: none !important;
    }
    enabler-details .add_buttons {
        border: none !important;
        background: none !important;
    }
    .add_buttons.transfer {
        border: 20px!important;
        padding: 0px !important;
        margin: 0px !important;
        background: var(--ion-color-black) !important;
    }
    .form_add_btn .add_buttons {
        margin: 0px !important;
        padding: 0px !important;
    }

    enabler-details .form_add_btn .add_buttons {
        width: 35px !important;
        height: 35px !important;
    }

    enabler-details .add_buttons ion-label {
        display: none;
    }
    .add_buttons .fa-circle-plus, .add_buttons .fa-circle-minus, .add_button .fa-circle-plus, .add_button .fa-circle-minus {
        // color: var(--ion-color-black)!important;
        padding: 3px 0px;
    }
    enabler-details .add_buttons .fa-circle-plus{
        color: var(--ion-color-black)!important;
    }
    .transfer ion-label {
        display: block !important;
        background: var(--ion-color-black)!important;
        border-radius: 20px!important;
    }
    .add_buttons ion-icon {
        color: var(--ion-color-black) !important;
        line-height: 35px !important;
        height: 35px !important;
        width: 35px !important;
        margin: 0px !important;
        margin-right: -2px !important;
    }
    // .filter_nav .add_buttons:nth-child(2) {
    //     padding: 0 15px 0px 0px!important;
    // }
    #nav .nav-item #users {
        min-width: 30px;
    }
    #serch_component {
        background: var(--ion-color-white);
        padding: 20px 0 10px 0;
    }
    #serch_component ion-row {
        margin: 0px -5px;
    }
    #serch_component ion-row ion-col {
        padding: 0px !important;
        max-width: 100% !important;
    }
    #serch_component .address_search-block {
        margin: 0px !important;
    }
    #serch_component .address_box {
        padding: 0px 15px;
    }
    .page_search#search_boxs {
        padding: 0px;
    }
    #serch_component .address_box i {
        font-size: 20px;
    }
    #serch_component .favrite ion-label i {
        font-size: 20px;
    }
   
    .filter_nav .open_filter_button,
    .filter_nav .drop_box {
        display: block;
        padding: 0px 10px;
        padding-right: 0;
    }
    .cardlist {
        border-radius: 6px !important;
        margin-bottom: 20px !important;
    }
    .nav-item.r-d-block.notification {
        margin-right: 14px !important;
    }
    .create-new-lbl {
        margin-right: 0px;
    }
    .forms_block .switchs_block ion-label {
        white-space: normal;
    }

    .buttons-div .btn-funding-profile:last-child {
        margin-right: 0px !important;
    }
    #app-ui.cardlist_filter_content {
        padding-bottom: 0px !important;
    }
    .cardlist_content_box1 .cardlist_content_box prod-title .prod_title_box {
        padding: 0px 0px 10px 0px!important
    }
    .cardlist_content_box1 .cardlist_content_box prod-title .both.prod_title_box {
        padding: 0px 8px !important;
        margin: 0px !important;
        border: none !important;
    }
    .cardlist_content_box1 .cardlist_content_box prod-title .prod_title_box ~ .both.prod_title_box {
        padding-top: 8px !important;
    }
    // .cardlist_content_box1 .cardlist_content_box prod-title .prod_title_blocks .full-width.prod-title {
    //     padding: 0 8px;
    //     padding-top: 8px;
    // }
    // .cardlist_content_box1 .cardlist_content_box .title-line .full-width.prod-title {margin-left: -8px !important; width: calc(100% + 36px) !important; padding: 8px 8px 1px 8px !important;}
    .cardlist_content_box1 .cardlist_content_box ion-label.brand_content {padding: 0px !important;  margin: 0px !important;}
    
    .cardlist_content_box1 .cardlist_content_box .card_classifides {
        padding: 0px 0px;
    }
    .classified_box.visible ion-label.more_info{
        font-size: 13px !important;
        right: 0;
        z-index: 11;
        top: 22px;
    }


    .grid .cardlist.permissions_crd, .grid .cardlist.permissions_crd .cardlist_content_block, .grid .cardlist.permissions_crd .cardlist_content_box1, .grid .cardlist.permissions_crd .cardlist_content_box1 > ion-row, .grid .cardlist.permissions_crd .cardlist_content_box1 .cardlist_content_box {
        height: auto;
    }
    // .cardlist_filter_row.p-0 ion-grid .counts_row:last-child {
    //     padding-top: 0px !important;
    // }
    subscripions ion-segment-button ion-label {
		max-width: initial !important;	
	}

}

@media (max-width: 680px) 
{
    .admin_right_panel .container1 {
        padding: 0px !important;
    }
    .cotact-field ion-col {
        flex: 0 0 100% !important;
        width: 100% !important;
    }
    .admin_right_panel .filter_count_list ion-label.shops {
        display: flex !important;
    }
    .admin_right_panel .filter_count_list ion-label span.icons {
        display: inline-block !important;
    }
    .admin_right_panel .filter_count_list ion-label .contents {
        display: block !important;
        font-size: 15px;
    }
    // .admin_right_panel .filter_count_list ion-label .contents i {
    //     display: block !important;
    // }


    #fullrepo_data .grid item-card {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .Overview-box ion-label.content, .Overview-box ion-label.content a {
        font-size: 12px;
    }
}

@media (max-width: 640px) 
{
    .admin_right_panel .container1 {
        padding: 0px !important;
    }
    #serch_component {
        padding: 15px 0 5px 0;
    }
    // .filter_nav ion-label.filters_button span {
    //     display: none !important;
    // }
    

    .filter_nav .open_filter_button, .filter_nav .drop_box {
        position: relative;
    }
    .filter_nav ion-label.filters_button .cnt {
        display: block !important;
        background: var(--ion-color-black);
        width: auto;
        min-width: 22px;
        height: 22px;
        display: block;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        line-height: 22px;
        position: absolute;
        top: -13px;
        right: -10px;
    }
    .counts_row {
        align-items: flex-start !important;
    }
    .open_filter_button .filters_button i {
        display: block;
        // margin-right: 0px;
        line-height: 32px !important;
        font-size: 13px;
        text-align: center;
    }
    .open_filter_button .filters_button {
        padding: 0px !important;
        border-radius: 50px;
        width: 30px !important;
        height: 30px !important;
        text-align: center;
    }
    .counts_filter_block .left_filter_panel {
        padding: 0px;
        padding-right: 10px !important;
        flex: 0 0 250px;
        max-width: 250px;
    }
    .counts_searchbox {
        flex-wrap: wrap;
    }
    .counts_searchbox .count_boxs.navigation_compo {
        flex: 0 0 100%;
        // margin-bottom: 8px;
    }
    .counts_filter_block .left_filter_panel {
        padding: 0px;
        padding-right: 10px !important;
        flex: 0 0 200px;
        max-width: 200px;
    }
    .prod-title {
        max-width: calc(100% - 100px);
    }
    .prod-title span a {
        max-width: calc(100% - 35px) !important;
    }
    .products.classification_list_box .classified_box.visible ion-label.more_info {
        bottom: -9px !important;
        right: 20px !important;
    }
    .forms_body {
        padding: 15px !important;
    }
    .forms_headers {
        padding: 10px !important;
        min-height: auto !important;
    }
    .buttons-div span {
        display: block;
        font-size: 14px;
        letter-spacing: 0px !important;
        word-spacing: 0px !important;
    }
    .filter_count_list.admin_list {
        display: block !important;
    }
    .filter_count_list.admin_list .contect-padding {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px !important;
        padding-top: 12px !important;
    }
    .cnt-space .filter_count_list{
        justify-content: space-between;
    }
    
    
    .contect-padding span {
        display: block;
        padding-top: 0px !important;
        font-size: 15px;
    }
    .counts_filter_block {margin: 0; flex-wrap: wrap; padding: 15px 0px !important;}
    .counts_filter_block ion-col.tab_contents.details-page {
        padding: 0px !important;
    }
    .counts_filter_block .switchs.navigation_compo ion-toggle {margin-left: 0px !important;}
    #mobile_sorting .dcol.select {
        padding: 0px !important;
    }
    
    .counts_filter_block .right_filter_panel {padding-right: 0px !important;}

    .logo_box .logo ion-img {margin: 0 !important;margin-right: 38px !important;}
    
    .cardlist_content_box1 .cardlist_content_box .card_classifides ~ div {
        padding: 0px 8px 8px 8px;
    }
    ion-segment-button ion-label {padding: 1px 0;}
    // .card_classifides .card_classification~.card_classification label-right-img {
    //     margin-bottom:12px!important;
    // }
    .classified_box.visible ion-label.more_info {
        font-size: 13px !important;
        right: 0;
        z-index: 11;
        top: 24px;
    }
    .classified_box.visible {
        margin-bottom: 21px !important;
    }
    .classified_box.visible.open {
        margin-bottom: 15px !important;
    }

    .forms_block {
        padding: 15px !important;
    }
  
    #myprofile.forms_block .forms_headers {
        padding: 0 !important;
    }
    #myprofile.forms_block .forms_body {
        padding: 15px;
    }
    #other_auth_forms #myprofile.forms_block .forms_headers {
        padding: 15px !important;
    }

    .admin_right_panel status-view .contect-padding ion-select {
        min-width: 125px !important;
    }
    .admin_right_panel .counts_filter_block.main_rows.mt-res .main_cols.auto-cols {
        padding: 0;
    }
    .admin-page_wapper #serch_component ion-row ion-col .filter_nav {
        margin: 0px !important;
    }
    .admin-page_wapper .container1 > #serch_component > ion-row > ion-col.address_search-col {
        flex: 0 0 100%;
        max-width: calc(100% - 120px) !important;
    }
    .admin-page_wapper enabler .container1 > #serch_component > ion-row > ion-col.address_search-col {
        max-width: 100% !important;
    }
    #serch_component.top_card_bottom {
        padding-top: 20px !important;
    }

    .m-part.alert.error_boxs #myprofile.forms_block {
        padding: 15px !important;
    }

    // .filter_count_list ion-label .count {
    //     margin-left: 5px;
    //     margin-top: 0px !important;
    //     margin-bottom: 0px !important;
    // }

    .top-div.top_cards_boxs.mods .tabs_nave_filters {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .top-div.top_cards_boxs.mods .filters_btns .data_view_btns.btn-group.pull-right.card {
        margin-top: 15px;
    }
    .top-div.top_cards_boxs.mods .titles_names {
        margin-bottom: 10px;
    }
    .top-div.top_cards_boxs.mods .filters_btns:first-child {order: 2;}

    

    .tab-content {
        margin: 0px !important;
    }

    .explore ion-segment-button ion-label span
    {
        font-size: 17px !important;
    }

    .explore ion-segment-button ion-label .icons i {
        font-size: 14px !important;
    }

    .tab-container .container {
        padding-left: 5px !important;
    }

    .tab-content {
        padding: 10px !important;
    }
    .tab-content div {
        display: block !important;
    }
    
    .tab-content span {
        // margin-bottom: 10px !important;
        padding-right: 0px !important;
        display: block;
        font-size: 16px !important;
    }
    .tab-content a {
        margin-top: 10px !important;
        display: block;
        // font-size: 18px;
    }
    .tab-content a.btn {
        font-size: 14px;
        line-height: 30px;
    }
    .padding-0 {
        padding: 0px !important;
    }
}




@media (max-width: 480px) {
    .admin_right_panel .container1 {
        padding: 0px !important;
    }
    profile-submissions-details .filter_nav .btn-group.pull-right, fundraise-submissions-details .filter_nav .btn-group.pull-right, fundraise-needs-submitted-details .filter_nav .btn-group.pull-right, funding-profiles-submitted-details .filter_nav .btn-group.pull-right{
        padding-top: 15px !important;
        padding-right: 15px !important;
    }
    .btn-match {
        white-space: normal;
    }
    .certimg {
        max-width: 30px !important;
        max-height: 30px !important;
        margin-left: 0px;
        flex: 0 0 30px;
    }
    #header {
        width: 100% !important;
        padding: 0px !important;
    }
    .container {
        padding: 1px 10px !important;
    }
    filter-view.ion-page {
        max-width: 100% !important;
        width: 100% !important;
    }
    ion-segment-button {
        font-size: 15px;
        padding: 15px 10px;
    }
    .navigation_compo i {
        font-size: 18px !important;
    }
    ion-label.brand_content {
        margin-top: 12px !important;
        margin-bottom: 12px;
    }
    .vertical-view h3 ion-label {
        margin-top: 6px !important;
        margin-bottom: 6px !important;
    }
    .cardlist {
        margin-bottom: 20px;
    }
    .counts_searchbox .navigation_compo {
        padding: 0px 8px;
    }
    // .counts_searchbox {
    //     margin: 0px -8px;
    // }
    // .filter_nav {
    //     margin: 0px -8px;
    // }
    .filter_nav .open_filter_button, .filter_nav .drop_box {
        padding: 0px 15px 0px 10px;
    }
    .open_filter_button {
        padding: 0px !important;
    }
    .cardlist {
        margin-bottom: 20px !important;
    }
    .counts_searchbox .sharing.navigation_compo {
        margin-left: 0px !important;
    }
    .counts_searchbox .downloads.navigation_compo {
        margin-left: 0 !important;
    }
   

    .uploadButton .uploadButton-button {
        height: 150px !important;
        // width: 100% !important;
    }
    .m-part {
        margin-bottom: 10px;
    }

    ion-modal.modal-share {
        --max-width: calc(100% - 20px) !important;
    }

    ion-modal.modal-save-filter {
        --ion-background-color: var(--ion-color-transparent);
        --max-width: 80%;
        --height: 100%;
    }

    .tab-container .container, .tab-container app-tabs {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .padding-0 {
        padding: 0px !important;
    }

    .widget-item-card .classified_boxs.new ion-label {
        margin: 0 0px 12px 0 !important;
    }

    .grid item-card {
        padding: 0px 5px !important;
    }
}
@media (max-width: 445px) {
    .admin_right_panel .container1 {
        padding: 0px !important;
    }
    .top-div.top_cards_boxs, .top-div.top_cards_boxs.mods {
        display: block !important;
    }
    .top-div.top_cards_boxs .titles_names {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .filters_btns .btn-group.pull-right ion-radio-group ion-item {
        --padding-start: 10px;
        --padding-end: 0px;
    }
    .filters_btns .btn-group.pull-right ion-radio-group ion-item ion-radio {
        width: 10px !important;
        height: 10px !important;
    }
}
@media (max-width: 360px) {
    .admin_right_panel .container1 {
        padding: 0px !important;
    }
    .filter_nav.permission>.add_buttons:first-child {
        // width: 150px;
        position: relative;
        // margin-left: -10px;
        padding: 0px 5px;
        text-align: center;
    }
    .forms_conponenl .button_box {
        align-items: center;
        padding: 0px !important;
    }

    .top-div.top_cards_boxs .filters_btns ion-label {
        font-size: 15px !important;
    }
    
}